include ./mixins/mixins

doctype html
html
	head
		meta(charset="utf-8")
		title 
			block title
		meta(content="" name="Dzebliuk")
		meta(content="" name="description")
		meta(content="" name="keywords")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		meta(content="ie=edge" http-equiv="x-ua-compatible")

		//- favicon block start
		link(rel="icon" type="image/png" href="./assets/images/icons/favicon.png")
		//- favicon block end
		//-link(href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet")
		link(rel='stylesheet' href='./assets/libs/fa/css/fontawesome-all.min.css')
		link(rel='stylesheet' href='./assets/css/foundation.css?v=1')
		link(rel='stylesheet' href='./assets/css/main.css?v=1')

		script(src='https://code.jquery.com/jquery-3.2.1.min.js', crossorigin='anonymous')
		script.
			window.jQuery || document.write('<script src="./assets/libs/jquery.min.js"><\/script>')

		script(data-pace-options='{ "ajax": false }', src='./assets/libs/pace.min.js')

		//Global site tag (gtag.js) - Google Analytics
		script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-92273517-5')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-92273517-5');
		//Global site tag (gtag.js) - Google AdWords: 818449105
		script(async='', src='https://www.googletagmanager.com/gtag/js?id=AW-818449105')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'AW-818449105');
	
			//Event snippet for обратная связь conversion page
			//In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button.
		script.
			function gtag_report_conversion(url) {
			var callback = function () {
			if (typeof(url) != 'undefined') {
			window.location = url;
			}
			};
			gtag('event', 'conversion', {
			'send_to': 'AW-818449105/koLuCOaQ_XsQ0ZWihgM',
			'event_callback': callback
			});
			return false;
			}
		

		
	body
		//#p_prldr
			.loaderr
		script(type='text/javascript').
			$(function() {
			var alphabet = "abcdefghijklmnopqrstuvwxyz".split('').reverse();
			var lettersCount = alphabet.length;
			alphabet.forEach(
			function(element) {
			$( ".preloader" ).append( '<span class="halfStyle" data-content="' + element + '">' + element + '</span>' );
			}
			);
			$('.halfStyle').each(function(i, obj) {
			$(".halfStyle").hide();
			$('body').css('overflow', 'hidden');
			});
			var queue = new TimerQueue();
			(function myLoop (i) {
			queue.addTask(function () {
			$(".halfStyle").eq(i).show();
			
			var percentage = $('.pace-progress').attr('data-progress-text');//Math.ceil(100*((lettersCount - i)/lettersCount)) + 13;
			changeCircle(percentage);
			if (--i) myLoop(i);
			}, 100);
			queue.addTask(function () {
				$(".halfStyle").hide(400);
			}, 50);
			})(lettersCount);
			});
		.preloader
			svg#svg(viewBox='0 0 500 500', version='1.1', xmlns='http://www.w3.org/2000/svg')
				circle(r='240', cx='250', cy='250', fill='transparent', stroke-dasharray='1507.96', stroke-dashoffset='0')
				circle#bar(r='240', cx='250', cy='250', fill='transparent', stroke-dasharray='1507.96', stroke-dashoffset='1507.96')
			span.halfStyle(data-content='X')

		.wrapper
			block content

		// Bootstrap core JavaScript ==================================================
		// Placed at the end of the document so the pages load faster
		//script(src='https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js')
		
		script(src='./assets/libs/jquery.maskedinput.js')
		script(src='./assets/js/foundation.js')
		script(src='./assets/js/app.js')
		a.scrollup(href="#") 
		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		<![endif]-->

			//BEGIN JIVOSITE CODE {literal}
			script(type='text/javascript').
				(function(){ var widget_id = 'suFXxtk8t3';var d=document;var w=window;function l(){
				var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
		//{/literal} END JIVOSITE CODE