section.section_call
  //img.doors(src="./assets/images/door-right.png", alt="")
  .container
    .row.call_to_action2
      .block1
        p.call_text  
          b Пройди 
          | простой тест - узнай свой уровень английского
        a.button_yellow.opendoor(href="./page_test.html") Пройти
      .block2
        h5.or or
      .block3
        p.call_text 
          b Убедись 
          | в эффективности методики на бесплатном занятии
        button.button_yellow.open_popup Посетить