.container
  h5.all-courses_head Все курсы

.slider-wrapper
  .container
    .slider_courses
      .slide__item
        .slideBG
          a(href="./page-courses_zno.html", title="title") 
            p ЗНО
        .slider__img
          img(src='./assets/images/courses/course1.png', title='English')
        h5.slide_name ЗНО
      .slide__item
        .slideBG
          a(href="./page-courses_del.html", title="title") 
            p Деловой английский
        .slider__img
          img(src='./assets/images/courses/course2.png', title='English')
        h5.slide_name Деловой английский
      .slide__item
        .slideBG
          a(href="./page-courses_razg.html", title="title") 
            p Разговорный английский
        .slider__img
          img(src='./assets/images/courses/course3.png', title='English')
        h5.slide_name Разговорный английский
      .slide__item
        .slideBG
          a(href="./page-courses_det.html", title="title") 
            p Детский курс
        .slider__img
          img(src='./assets/images/courses/course4.png', title='English')
        h5.slide_name Детский курс
      .slide__item
        .slideBG
          a(href="./page-courses_korp.html", title="title") 
            p Корпоративный английский
        .slider__img
          img(src='./assets/images/courses/course5.png', title='English')
        h5.slide_name Корпоративный английский
      .slide__item
        .slideBG
          a(href="./page-courses_from0.html", title="title") 
            p Английский с нуля
        .slider__img
          img(src='./assets/images/courses/course6.png', title='English')
        h5.slide_name Английский с нуля
      .slide__item
        .slideBG
          a(href="./page-courses_ex.html", title="title") 
            p Экспресс-курс
        .slider__img
          img(src='./assets/images/courses/course7.png', title='English')
        h5.slide_name Экспресс-курс
      .slide__item
        .slideBG
          a(href="./page-courses_ekz.html", title="title") 
            p Международные экзамены
        .slider__img
          img(src='./assets/images/courses/course8.png', title='English')
        h5.slide_name Международные экзамены
      