footer.footer
	.container
		.row.bot-border
			.col-md-8.col-sm-12.contacts_row
				a.phone(href="tel:555-555-5555")
					img(src="./assets/images/icons/phone.png", alt="телефон")
					p 099 222 222 22
				p.streat ул. Б.Хмельницкого, 63
			.col-md-4.col-sm-12.social
				a.social_item(href="https://www.facebook.com/EnglishFamilyStudio", title="facebook", target="_blank") 
					img(src="./assets/images/icons/fb.png", alt="")
				a.social_item(href="https://www.instagram.com/english_family_studio/?hl=uk", title="instagram", target="_blank")
					img(src="./assets/images/icons/inst.png", alt="")
				a.social_item(href="https://t.me/joinchat/AAAAAETZ7k6DGEeWwot9qA", title="telegram", target="_blank")
					img(src="./assets/images/icons/tg.png", alt="")
		.row
			.col-md-6.col-sm-12
				ul.footer_menu
					li.footer_menu-item
						a(href="./index.html", title="title") Главная
					li.footer_menu-item.footer-course Курсы
						ul.sub-menu 
							li.nav-menu_item 
								a(href="./page-courses_ex.html") Экспресс-курс
							li.nav-menu_item 
								a(href="./page-courses_razg.html") Разговорный английский
							li.nav-menu_item 
								a(href="./page-courses_ekz.html") Подготовка к экзаменам
							li.nav-menu_item 
								a(href="./page-courses_zno.html") Подготовка к ЗНО
							li.nav-menu_item 
								a(href="./page-courses_from0.html") Курсы английского с нуля
							li.nav-menu_item 
								a(href="./page-courses_del.html") Курсы делового английского
							li.nav-menu_item 
								a(href="./page-courses_corp.html") Корпоративный английский
							li.nav-menu_item 
								a(href="./page-courses_det.html") Английский для детей
					li.footer_menu-item
						a(href="./contacts.html", title="title") Контакты 
			.col-md-6.col-sm-12.copyright
				.fas.fa-copyright
				a(href="https://m-stream.agency", title="m-stream.agency") M-Stream
			
		
