section.section_form
  .courses_wrapper 
  .cours_form
    .fas.fa-times.dot-close    
    form.take_course(action="")
      h5.text Заполните форму
      p.sub_text *Все поля обязательны для заполнения
      input.onse_fild(type="text", placeholder="Имя", required)
      input.onse_fild.phones(type="phone", value="+38 ", required)
      input.onse_fild.last_input(type="email", placeholder="E-mail", required) 
      span.dropdown-el
        input#sort-relevance(type='radio', name='sortType', value='Relevance', checked='checked', disabled)
        label(for='sort-relevance') Выберите курс
        input#for-kids(type='radio', name='sortType', value='Popularity')
        label(for='for-kids')  English for kids
        input#speak(type='radio', name='sortType', value='PriceIncreasing')
        label(for='speak')  English speaking course
        input#express(type='radio', name='sortType', value='PriceDecreasing')
        label(for='express')  Express training 
        input#starter(type='radio', name='sortType', value='ProductBrand')
        label(for='starter') Начинающим
        input#zno(type='radio', name='sortType', value='ProductName')
        label(for='zno') ЗНО
        input#korp(type='radio', name='sortType', value='ProductBrand')
        label(for='korp') Корпоративным клиентам
        input#ekzamen(type='radio', name='sortType', value='ProductName')
        label(for='ekzamen') Подготовка к экзаменам
      button.button_green Записаться
    


