header.header 
	.container
		.row 
			.col-md-2.col-sm-6
				.logo
					a(href="./index.html")
						img(src="./assets/images/logo.png", alt="English Family")
			.col-md-4.col-sm-6.collapsed_menu
				button.toggle__menu
					span.sandwich
						span.sw__top
						span.sw__center
						span.sw__bottom
				.collapsed_list
					ul.top_nav-menu
						li.nav-menu_item 
							a(href="./index.html") Главная
						li.nav-menu_item.more-items Курсы
							ul.sub-menu 
								li.nav-menu_item 
									a(href="./page-courses_ex.html") Экспресс-курс
								li.nav-menu_item 
									a(href="./page-courses_razg.html") Разговорный английский
								li.nav-menu_item 
									a(href="./page-courses_ekz.html") Подготовка к экзаменам
								li.nav-menu_item 
									a(href="./page-courses_zno.html") Подготовка к ЗНО
								li.nav-menu_item 
									a(href="./page-courses_from0.html") Курсы английского с нуля
								li.nav-menu_item 
									a(href="./page-courses_del.html") Курсы делового английского
								li.nav-menu_item 
									a(href="./page-courses_corp.html") Корпоративный английский
								li.nav-menu_item 
									a(href="./page-courses_det.html") Английский для детей
								
							
						li.nav-menu_item 
							a(href="./contacts.html") Контакты
					a.button.button_yellow.tog_button(href="./page_test.html") Пройти тест
			.col-md-3.cont-col
				a.phone(href="tel:555-555-5555")
					img(src="./assets/images/icons/phone.png", alt="телефон")
					p 099 222 222 22
				p.street ул. Б.Хмельницкого, 63
			.col-md-3.last-col
				a.button.button_yellow(href="./page_test.html") Пройти тест