.slider-wrapper
  .slider(role="toolbar")
    .slide__item.first-item
      .container
        .slider__img
          img(src='./assets/images/rocket.png', title='English')
        .slider__content
          h1.slider_header Школа <br> английского языка
          h3.slider_subheader Выучи английский быстро и с комфортом 
          p.slider_text Запишись на первое бесплатное занятие
          form.head-form
            input.phones(type="text" value="+38 ")
            button(type="submit")
              .fas.fa-chevron-circle-right

    .slide__item.second-item
      .container
        .slider__img
          img(src='./assets/images/rocket.png', title='English')
        .slider__content
          h1.slider_header Школа <br> английского языка
          h3.slider_subheader Выучи английский быстро и с комфортом 
          p.slider_text Запишись на первое бесплатное занятие
          form.head-form
            input.phones(type="text" value="+38 ")
            button(type="submit")
              .fas.fa-chevron-circle-right

    .slide__item.third-item
      .container
        .slider__img
          img(src='./assets/images/rocket.png', title='English')
        .slider__content
          h1.slider_header Школа <br> английского языка
          h3.slider_subheader Выучи английский быстро и с комфортом 
          p.slider_text Запишись на первое бесплатное занятие
          form.head-form
            input.phones(type="text" value="+38 ")
            button(type="submit")
              .fas.fa-chevron-circle-right

    .slide__item.fourth-item
      .container
        .slider__img
          img(src='./assets/images/rocket.png', title='English')
        .slider__content
          h1.slider_header Школа <br> английского языка
          h3.slider_subheader Выучи английский быстро и с комфортом 
          p.slider_text Запишись на первое бесплатное занятие
          form.head-form
            input.phones(type="text" value="+38 ")
            button(type="submit")
              .fas.fa-chevron-circle-right