section.section__onereview
  .container.one_review
    .left_part
      img(src="./assets/images/reviewFoto.png", alt="")
      p.sub_img-text Сергей Сапогов,
      p.sub_img-text курс: Разговорный английский
    .right_part
      p.start_text
        span.text Люблю путешествовать. Начинал с покупки туров, но без знания языка затруднительно путешествовать полноценно. Чувствовал себя чужим на этом празднике жизни, особенно на концертах и фестивалях. 
        span.yellow_text Хотелось чего-то большего — 
        span.text свободы ездить куда и когда захочется,
        span.yellow_text  знакомиться с девушками, искать новых друзей, 
        span.text да просто понимать что происходит вокруг. В прошлом году 
        span.yellow_text записался на курсы английского языка в English Family. 
        span.text За полгода 
        span.yellow_text научился говорить по-английски. 
