.page_contacts
	.section-head
		height: auto
		background-size: cover
		padding-bottom: 110px
.contacts_text
	text-align: center
	margin-top: 100px
	+phone()
		margin-top: 10px
	p 
		display: flex
		align-items: center
		justify-content: center
		font-size: 1.5rem
		color: #fff
		margin-bottom: 30px
		+phone()
			font-size: 1.2rem
		img 
			margin-right: 10px
			width: 29px
			height: 29px
	.contacts_phone
		font-weight: 600
	.contacts_mail
		margin-bottom: 70px
.contacts_map
	overflow: hidden
	border-radius: 10px
	height: auto
	width: 100%
	+phone()
		margin-bottom: 20px
	#mapp 
		width: 100%
		border-radius: 10px

.contacts_form
	min-height: 340px
	display: flex
	flex-direction: column
	justify-content: space-between
	.form_item
		border-radius: 50px
		color: #fff 
		padding: 15px 20px
		background-color: rgba(#fff, 0.2) 
		border: none
		&::placeholder
			color: #fff 
	.form_item_text
		border-radius: 20px
	.form_item_button
		background-color: $l_green
		font-weight: 600
		cursor: pointer
		border: 2px solid $l_green
		&:hover
			background-color: transparent 
			color: #fff
