.footer
	padding: 63px 0
	background-color: #303d51
	color: #fff
	+phone()
		padding: 40px 0
	.row 
		align-items: center
	.footer_menu
		display: flex
		+phone()
			flex-direction: column
			align-items: center
			text-align: center
		.footer_menu-item
			margin-right: 30px
			padding: 18px 0
			color: #fff
			font-size: 1.25rem
			text-transform: uppercase
			+phone()
				margin: 0
			a 
				color: #fff
		.footer-course
			position: relative
			padding: 18px
			border-radius: 10px
			text-transform: uppercase
			+phone()
				padding: 5px 18px
				width: 100%
			
			.sub-menu 
				display: none
		.footer-course:hover > .sub-menu //.actives
			visibility: visible
			position: absolute
			width: 400px
			left: -20px
			bottom: 60px
			z-index: 100
			border-radius: 10px
			display: block
			background-color: #fff
			color: #000
			padding: 20px
			text-transform: none
			&:after
				content: " "
				width: 20px
				height: 20px
				background-color: #fff
				position: absolute
				transform: rotate(45deg)
				bottom: -6px
				left: 10%
				+phone()
					left: 40%
			+phone()
				width: 90vw
				left: 0
				padding: 20px 2px
			.nav-menu_item
				margin: 15px
				a 
					padding: 10px
					color: #000
					&:hover
						color: #66a724
						border-radius: 0
						border-bottom: 2px solid #66a724
	.copyright
		display: flex
		align-items: center
		justify-content: flex-end
		&:hover > .fas,
		&:hover > a
			color: $yellow
		+phone()
			justify-content: center
		.fas
			margin-right: 10px
			&:hover,
			&:hover > a
				color: $l_yellow
		a 
			color: #fff
	.social
		display: flex
		justify-content: flex-end
		+phone()
			justify-content: center
		.social_item
			width: 50px
			margin-right: 10px
			padding: 3px
			img 
				width: 100%
	.bot-border
		border-bottom: 2px solid #fff
		padding-bottom: 20px
	.contacts_row
		display: flex
		justify-content: flex-start
		align-items: center
		font-size: 1.2rem
		+phone()
			flex-direction: column
		.phone
			margin-right: 30px
			font-size: 1.2rem
			position: relative
			+phone()
				margin: 0 auto
			img 
				+phone()
					display: none
			/* &:after
				content: " "
				width: 2px
				height: 40px
				background-color: #fff
				position: absolute
				right: -15px */