section.section_form
	position: relative
	width: 100vw
	height: 100vh
	display: none
	z-index: 5100
	.courses_wrapper
		background-color: rgba(#000, 0.5) 
		width: 100vw
		height: 100vh
		z-index: 2000
		position: fixed
		left: 0
		top: 0
		opacity: 0.99
	.cours_form
		z-index: 2100
		width: 767px
		height: 490px
		box-shadow: 0 0 15px 6px #cccccc
		border-radius: 50px
		background: #fff
		+centered()
		position: fixed
		+phone()
			width: 95%
		.fa-times 
			position: absolute
			right: 46px
			top: 35px
			color: $green
			font-size: 2rem
			z-index: 9999
			cursor: pointer
			+phone()
				right: 26px
				top: 25px
	.take_course
		z-index: 3100
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		position: relative
		height: 100%
		font-size: 1.5rem
		.text
		.sub_text
			text-align: center
			font-size: 1.125rem
			margin-bottom: 12px
		.onse_fild
			border: 2px solid #cccccc
			border-radius: 50px
			padding: 10px 23px
			width: 60%
			min-width: 20rem 
			margin-bottom: 7px
			&::placeholder
				font-size: 1.5rem
				color: #ccc
		.last_input
			margin-bottom: 95px
				
		
	$color: #3694d7 
	$timing: .3s 

	.dropdown-el    
		min-width: 20rem 
		display: inline-block 
		min-height: 2em 
		max-height: 2em 
		overflow: hidden 
		cursor: pointer 
		text-align: left 
		white-space: nowrap 
		color: #444 
		outline: none
		width: 60%
		border-radius: 1em
		border: 2px solid #cccccc
		transition: $timing all ease-in-out
		position: absolute
		bottom: 30%
		left: 20%
		+phone()
			bottom: 26.5%
			left: 6%
		input  
			display: none   
		label  
			border-top: .06em solid #d9d9d9 
			display: block 
			height: 2em 
			line-height: 2em 
			padding-left: 1em 
			padding-right: 3em 
			cursor: pointer 
			position: relative 
			transition: $timing color ease-in-out   
			&:nth-child(2)  
				margin-top: 2em 
				border-top: .06em solid #d9d9d9		 
			+phone()
				font-size: 1.2rem
				height: 2.8rem
				line-height: 2.3em 
		
		input:checked + label  
			display:block 
			border-top: none 
			position: absolute 
			top: 0
			&:nth-child(2)  
				margin-top: 0 
				position: relative 
			
			
		
		
		&::after  
			content: "" 
			position: absolute 
			right: 0.8em 
			top: 0.9em 
			border: .3em solid $green
			border-color: $green transparent transparent transparent 
			transition: .4s all ease-in-out 
		
		&.expanded  
			border: .06em solid $green 
			background: #fff 
			border-radius: .25em 
			padding: 0 
			box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px 
			max-height: 17em
			bottom: 3em
			
			label  
				border-top: .06em solid #d9d9d9 
				&:hover  
					color: $green 
				
			input:checked + label  
				color: $green 
				
			&::after  
				transform: rotate(-180deg) 
				top: .55em 
			
		
	