.header
	height: auto
	text-transform: uppercase
	z-index: 9999
	.container
		z-index: 2000
		.row
			align-items: center
			z-index: 2000
			+tablet()
				height: auto
.logo
	width: 100%
	padding: 27px 0

.collapsed_menu
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: space-between
	z-index: 2000
	+tablet
		position: fixed
		left: 0
		top: 0
		
	.collapsed_list
		display: flex
		z-index: 4999
		+tablet()
			padding: 10% 0
			display: none
			flex-direction: column
			position: absolute
			left: 0
			top: 0
			width: 100vw
			min-height: 100vh
			background-color: rgba(#000, 0.9)
			
	.top_nav-menu
		display: flex
		justify-content: flex-start
		align-items: center
		z-index: 2000
		+tablet()
			flex-direction: column
			align-items: flex-start
			width: 100%
			padding: 20px
		.nav-menu_item
			padding: 10px
			color: #fff
			width: 100%
			a 
				color: #fff
				padding: 10px 0
				&:hover
					color: $l_yellow
					border-radius: 0
					z-index: 1000
					border-bottom: 2px solid $l_yellow
		.more-items
			z-index: 2000
			padding: 30px 10px
			+tablet()
				margin: 10px 0
				padding: 10px
			&:hover > .sub-menu
				opacity: 1
				visibility: visible
				display: block
				position: absolute
				min-width: 350px
				padding: 10px
				left: 50px
				top: 60px
				border-radius: 10px
				background-color: #fff
				transition: 1s all
				&:before
					opacity: 1
					transition: 0.7s all 
					content: " "
					width: 20px
					height: 20px
					background-color: #fff
					position: absolute
					transform: rotate(45deg)
					top: -6px
					left: 25%
					+tablet()
						display: none
				+tablet()
					position: relative
					background-color: transparent
					color: #fff
					top: 0
					left: 0
				a 
					color: #000
					-webkit-tap-highlight-color: transparent
					&:hover
						color: #66a724
						position: relative
						border-radius: 0
						z-index: 1000
						border-bottom: 2px solid #66a724
					+tablet()
						color: #fff

	.sub-menu
		display: none
		z-index: 9999
		opacity: 0
		visibility: hidden
		

.tog_button
	display: none
	position: relative
	width: 60%
	margin-left: 20%
	a 
		border-radius: 50px

.cont-col
	text-align: center
	+tablet()
		display: none
	.street
		font-size: 0.7rem
		color: #fff
		margin-left: 27px
.phone
	display: flex
	align-items: center
	justify-content: center
	font-size: 1.5rem
	color: #fff
	+desktop()
		font-size: 1.2rem
	+laptop()
		font-size: 1rem
	img 
		margin-right: 10px
		+laptop()
			width: 30px
			height: 30px
	a 
		color: #fff
		
.button_yellow
	text-transform: initial
	font-size: 18px
	font-weight: 700
	color: #000

.last-col
	display: flex
	justify-content: flex-end
	+tablet()
		display: none
	
//------------------------ toggle__menu 
.toggle__menu 
	width: 60px
	height: 60px
	position: fixed
	z-index: 5000
	border: none
	right: 20px
	top: 20px
	display: none
	background-color: transparent
	span 
		display: block
	+tablet()
		display: block

.sandwich 
	width: 28px
	height: 28px
	position: absolute
	top: 8px
	bottom: 0
	left: 0
	right: 0
	margin: auto
	z-index: 200

.sw__top
	position: relative
	top: 0
	width: 28px
	height: 3px
	background: #303d51
	border: none
	border-radius: 4px 4px 4px 4px
	transition: transform 0.5s, top 0.2s
	display: block

.sw__center
	position: relative
	width: 28px
	height: 3px
	top: 6.6px
	background: #303d51
	border: none
	border-radius: 4px 4px 4px 4px
	transition: transform 0.5s, top 0.2s
	transition-delay: 0.2s, 0s 

.sw__bottom
	position: relative
	width: 28px
	height: 3px
	top: 13.5px
	background: #303d51
	border: none
	border-radius: 4px 4px 4px 4px
	transition: all 0.5s
	transition-delay: 0.1s 

.sandwich.active .sw__top
	top: 9px
	transform: rotate(140deg)
	background: #fff 
.sandwich.active .sw__center 
	top: 6px
	transform: rotate(-140deg)
	background: #fff 
.sandwich.active .sw__bottom 
	opacity: 0
	top: 0
	transform: rotate(180deg)
	background: #fff 
