.page_courses
  .section-head
    height: auto
    position: relative
    padding-bottom: 100px
    background-size: cover
    background-repeat: no-repeat
  .courses_header
    position: relative
    color: #fff
    height: auto
    .container
      height: auto
    .banner__img
      width: 20rem
      height: 20rem
      z-index: 2
      +centered(y)
      right: 0
      +phone()
        width: 8rem
        height: 8rem
        top: 20%
        opacity: 0.5
      img 
        width: 100% 
        height: 100%
        
  .banner__content
    width: 70%
    position: relative
    top: 5%
    z-index: 100
    +phone()
      padding-top: 20px
      width: 100%
      height: auto
    .banner_header
      font-size: 3.2rem
      font-weight: 700
      margin-bottom: 45px
      line-height: 1.2
      +phone()
        font-size: 1.6rem
        padding-right: 30%
    .banner_subheader
      margin-bottom: 35px
      position: relative
      padding-bottom: 25px
      +phone()
        font-size: 1.2rem
        height: auto
        padding-bottom: 75px
      h3
        font-size: 1.8rem
        font-weight: 400
        +phone()
          font-size: 1.2rem
      .ru
        opacity: 0
        transition: .5s all
        position: absolute
        top: 0
      .eng
        opacity: 1
        transition: .5s all
        position: relative
        
      &:hover > .eng
        opacity: 0
      &:hover > .ru
        opacity: 1
      span
        font-style: italic
        font-size: 1.5rem
        font-weight: 600
        position: absolute
        right: 10%
        bottom: -30px    
    .banner_text
      font-size: 30px
      font-weight: 400
      width: 90%
      text-align: center
      height: 50px
      background: url('../images/brush.png') no-repeat center
      background-size: cover
      margin-bottom: 45px
      padding: 5px 20px
      color: #000
      +laptop()
        font-size: 1.3rem
      +phone()
        font-size: 1rem
        padding: 5px
        margin-bottom: 1.5rem
        width: 95%

    .head-form
      .phones
        color: #fff
      input 
        background: none
        border: none
        border-bottom: 2px solid #fff
        width: 50%
        font-size: 24px
        padding: 18px 0
        &::placeholder
          color: #fff
        +laptop()
          width: 75%
        +phone()
          width: 93%
      button
        border: none
        background: none
        position: relative
        cursor: pointer
        .fas 
          font-size: 3rem
          position: absolute
          right: 24px
          top: -38px
          +phone()
            font-size: 2rem
            top: -1.5rem