.page_thanks
  .thanks-text
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    color: #fff
    text-align: center
    padding-top: 100px
    +phone()
      padding-top: 5px
    .text
      font-size: 2.25rem
      margin-top: 40px
      margin-bottom: 50px
    .sub_text
      font-size: 1.5rem
      margin-bottom: 50px
    .button_green
      display: flex
      align-items: center
      padding: 10px 30px
      cursor: pointer
      .fas
        font-size: 2rem
        margin-right: 15px