.page_error
  .error-text
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    color: #fff
    .number
      font-size: 17rem
      +phone()
        font-size: 9rem
    .text
      font-size: 2.25rem
      +phone()
        text-align: center