.section__advantages-course
  padding: 125px 0 140px
  +laptop()
    padding: 50px 0
  +phone()
    padding: 50px 0 
  .advantages_head
    text-align: center
    font-size: 2.25rem
    font-weight: 600
    margin-bottom: 80px
  .advantages_card
    display: flex
    flex-direction: column
    align-items: center
    &:nth-child(2)
      position: relative
      &:before
        content: ""
        position: absolute
        background-color: #e6e6e6
        width: 3px
        height: 130px
        left: 0
        top: 10px
        +phone()
          display: none
      &:after
        content: ""
        position: absolute
        background-color: #e6e6e6
        width: 3px
        height: 130px
        right: 0
        top: 10px
        +phone()
          display: none
    .card_head
      text-align: center
      padding: 24px
      font-size: 1.5rem
      +laptop()
        font-size: 1.2rem
    .image_container
      width: 100%
      height: 150px
      position: relative
      .card_logo
        +centered()
        width: 40%
        &:hover
          animation: fliper 2s 
        
        @keyframes fliper
          0%
            width: 40%
          50%
            width: 50%
          100%
            width: 40%