.section_comment
  padding: 115px 170px
  +desktop()
    padding: 80px
  +phone()
    padding: 50px 0 80px
  .slider-nav2
    margin-bottom: 32px
    .slick-track
      display: flex
      align-items: flex-end
    .slick-list
      margin: 0 auto
      width: 80%
      +desktop()
        width: 100%
    .slide__item
      margin: 0 50px
      position: relative
      bottom: 0
      +phone()
        width: 60vw
        margin: 0 30px
    .slider__img
      +phone()
        width: 60vw
      img 
        width: 100%
        margin: 0 auto
        opacity: 0.3
        border-radius: 50%
        +phone()
          opacity: 1
          position: relative
          left: 10%
    .slick-center
      img
        opacity: 1
  .slider-for2
    text-align: center
    width: 50%
    margin: 0 auto
    +phone()
      width: 80%
    .slider__content
      +phone()
        font-size: 0.8rem
    .slider_header
      font-weight: 600
    .slider_subheader
      margin-bottom: 15px
    .slick-prev
      color: $yellow
      font-size: 3rem
      width: 50px
      height: 50px
      //background: url('../images/icons/left-arrowY.png') no-repeat
      //background-size: contain
      z-index: 100
      left: -100px
      &:hover
        width: 70px
        height: 70px
        left: -110px
        font-size: 3.5rem
      +phone()
        left: -50px
        font-size: 2rem
        &:hover
          font-size: 2rem
          left: -60px
      &:before
        content: ""
    .slick-next
      color: $yellow
      width: 50px
      height: 50px
      color: $yellow
      font-size: 3rem
      //background: url('../images/icons/right-arrowY.png') no-repeat
      //background-size: contain
      z-index: 100
      right: -100px
      &:hover
        right: -110px
        width: 70px
        height: 70px
        font-size: 3.5rem
      +phone()
        right: -50px
        font-size: 2rem
        &:hover
          font-size: 2rem
          right: -60px
      &:before
        content: ""
    .slick-dots
      bottom: -50px
      li
        background-color: $purple
        border-radius: 50px 
        width: 15px
        height: 15px
        button
          width: 15px
          height: 15px
         
          &:before
            opacity: 0
            font-size: 70px
            width: 16px
            line-height: 16px
            left: -5px
      li.slick-active
        button
          &:before
            opacity: 1
            color: $l_yellow
