.section-lists
  height: auto
  padding: 130px 0 230px
  position: relative
  overflow: hidden
  +phone()
    padding: 2rem 0 6rem
  .lists-bg
    position: absolute
    top: 0
    display: flex
    width: 100%
    height: 100%
    +phone()
      flex-direction: column
    .plus__list
      background: url('../images/sad-man.png') no-repeat
      background-size: cover
      width: 50%
      +phone()
        width: 100%
        height: 45%
    .minus__list
      background: url('../images/funny-couple.png') no-repeat
      background-size: cover
      width: 50%
      +phone()
        width: 100%
        height: 55%
        background: url('../images/funny-coupleBlack.png') no-repeat
        background-size: cover
        background-position: right
    .clouds
      width: 100%
      position: absolute
      bottom: -90px
      z-index: 100
      +desktop()
        bottom: -40px
      +phone()
        display: none
  .head__list
    text-align: center
    font-size: 1.85rem
    position: relative
    margin-bottom: 100px
    +phone()
      font-size: 1.3rem
      margin-bottom: 2.5rem
  .lister
    li 
      display: flex
      justify-content: flex-start
      font-size: 1.5rem
      min-height: 95px
      margin-bottom: 30px
      +laptop()
        font-size: 1.2rem
      +phone()
        min-height: 35px
        font-size: 0.8rem
        font-weight: 400
      img 
        width: 3rem
        height: 3rem
        margin-right: 20px
        +phone()
          width: 2rem
          height: 2rem
          margin-right: 5px
  .listP
    color: #fff
    padding-right: 40px
    +phone()
      padding-right: 5px
    .head__list
      &:after
        content: " "
        height: 3px
        width: 60%
        background-color: $red
        position: absolute
        bottom: -15px
        left: 20%
  .listM
    padding-left: 40px
    +phone()
      color: #fff
      padding-left: 5px
      padding-top: 20px
    .head__list
      &:after
        content: " "
        height: 3px
        width: 66%
        background-color: $green
        position: absolute
        bottom: -15px
        left: 17%
  .button_green
    z-index: 100
    font-size: 1.5rem
    text-transform: uppercase
    background-color: $d_green
    +centered(x)
    &:hover
      border: 2px solid $l_green
      color: #fff
      background-color: $l_green
    &:active
      border: 2px solid $l_green
      color: #fff
      background-color: $l_green
    
    