.section_teacher
  padding: 50px 0 120px
  height: auto
  +phone()
    padding: 50px 0
  .head__teacher
    text-align: center
    font-size: 2.25rem
    margin-bottom: 45px 
    +phone()
      font-size: 1.25rem
  .slider-nav
    position: absolute
    right: 20%
    width: 30%
    height: 200px
    z-index: 100
    +phone()
      left: 10%
      width: 80%
    .slide__item
      width: 320px
      text-align: center
      .slider__img
        width: 60% 
        margin: 0 auto 25px
        img
          width: 100%
          border-radius: 50%
      .slider_header
        color: $purple
        font-size: 1.5rem
        +desktop()
          font-size: 1.2rem
      .slider_subheader
        font-size: 1rem
      
    .slick-prev
      width: 50px
      height: 50px
      background: url('../images/icons/left-arrowG.png') no-repeat
      background-size: contain
      z-index: 100
      left: -25px
      &:hover
        width: 70px
        height: 70px
        left: -45px
        +phone()
          left: -35px
          width: 60px
          height: 60px
      &:before
        content: ""
      
    .slick-next
      width: 50px
      height: 50px
      background: url('../images/icons/right-arrowG.png') no-repeat
      background-size: contain
      z-index: 100
      right: -50px
      &:hover
        width: 70px
        height: 70px
        right: -70px
        +phone()
          right: -60px
          width: 60px
          height: 60px  
      &:before
        content: ""
      
  .slider-for
    .slide__item
      height: 800px
      display: flex
      align-items: center
      +phone()
        //height: 700px
        height: auto
      .slider__img
        overflow: hidden
        width: 35%
        position: relative
        border-radius: 50%
        left: -100px
        +phone()
          display: none
        img
          width: 100%
          position: relative
      .slider__content
        width: 60%
        padding-top: 250px
        +phone()
          width: 100%
          padding-top: 300px
      .slider_header
        color: $purple
        font-size: 2.25rem
        font-weight: 600
        text-align: center
        margin-bottom: 25px
        +phone()
          display: none
      .slider_subheader
        font-size: 1.5rem
        margin-bottom: 50px
        +phone()
          display: none
      .slider_subheader2
        font-size: 1.5rem
        margin-bottom: 0
        margin-top: 50px      
      .slider_list
        margin-left: 25px
        .list_text
          font-size: 2rem
          +phone()
            font-size: 1rem 
        +phone()
          padding: 0 20px 0 25px
        li
          position: relative
          display: flex
          align-items: center
          font-weight: 500
          font-size: 1.25rem
          margin-bottom: 10px
          +phone()
            font-size: 1rem
          &:before
            content: " "
            position: absolute
            width: 10px
            height: 10px
            border-radius: 50px
            background-color: $purple
            margin-right: 5px
            left: -15px
            top: 10px
    
