.section-advantages
  padding: 70px 0
  .head__advant
    margin-bottom: 100px
    text-align: center
    font-size: 2.25rem
    +laptop()
      margin-bottom: 15px
    +phone()
      margin-bottom: 15px
  .advant__block
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    .advant__item
      width: 30%
      display: flex
      flex-direction: column
      position: relative
      justify-content: center
      align-items: center
      height: auto 
      min-height: 275px
      padding: 60px 0
      +phone()
        width: 50%
        padding: 10px 0
        min-height: 225px
      img
        margin-bottom: 20px
        width: 45%
        +phone()
          width: 75%
      p 
        height: 20%
        text-align: center
        font-size: 1.5rem
        font-weight: 600
        +phone()
          font-size: 1rem
    .advan1,
    .advan3
      &:after
        content: " "
        height: 0.25rem
        width: 125%
        background-color: #e6e6e6
        position: absolute
        bottom: 0
        +phone()
          display: none

    .advan2
      &:after
        content: " "
        height: 0.25rem
        width: 100%
        height: 60%
        border: 0.25rem solid #e6e6e6
        border-top: none
        position: absolute
        bottom: 0
        +phone()
          display: none
    .advan5
      &:after
        content: " "
        height: 0.25rem
        width: 100%
        height: 60%
        border: 0.25rem solid #e6e6e6
        border-bottom: none
        position: absolute
        top: -4px
        +phone()
          display: none
    .image_container
      width: 100%
      height: 150px
      position: relative
      .card_logo
        +centered()
        width: 40%
        z-index: 100
        &:hover
          animation: zoom 2s 
        +phone()
          width: 70%
        
        @keyframes zoom
          0%
            width: 40%
          50%
            width: 45%
          100%
            width: 40%
                