.section__all-courses
  padding: 60px 0 106px
  .all-courses_head
    font-size: 2.25rem
    font-weight: 600
    margin-bottom: 65px
    text-align: center
  .slider_courses
    .slide__item
      height: 350px
      box-shadow: 0 0 15px 6px #ccc
      margin: 15px
      padding: 40px
      border-radius: 10px
      display: flex
      flex-direction: column
      align-items: center
      position: relative
      overflow: hidden
      border-bottom: 0.8rem solid #00b3c8
      &:hover > .slideBG
        top: -5%
        left: -5%
    .slideBG
      position: absolute
      width: 110%
      height: 110%
      background: url("../images/courses/courseBG.png")
      background-size: cover
      bottom: -400px
      z-index: 99
      a 
        color: #fff
        p
          font-size: 1.8rem
          text-align: center 
          padding: 150px 90px 
          +centered()
          +laptop()
            font-size: 1.4rem
    .slider__img
      margin-bottom: 25px
      img
        width: 90%
        margin: 0 auto
    .slide_name
      font-size: 1.8rem
      text-align: center
      +laptop()
        font-size: 1.4rem
    .slick-prev
      color: $yellow
      font-size: 3rem
      width: 50px
      height: 50px
      //background: url('../images/icons/left-arrowY.png') no-repeat
      //background-size: contain
      z-index: 100
      left: -100px
      &:hover
        width: 70px
        height: 70px
        left: -110px
        font-size: 3.5rem 
      +desktop()
        left: -80px
      +laptop()
        left: -40px
        font-size: 2rem
        &:hover
          height: 50px
          width: 50px
          font-size: 2rem
          left: -40px
      +phone()
        left: -30px
        font-size: 2rem
        &:hover
          height: 50px
          width: 50px
          font-size: 2rem
          left: -30px
      &:before
        content: ""
    .slick-next
      color: $yellow
      width: 50px
      height: 50px
      color: $yellow
      font-size: 3rem
      //background: url('../images/icons/right-arrowY.png') no-repeat
      //background-size: contain
      z-index: 100
      right: -100px
      &:hover
        right: -110px
        width: 70px
        height: 70px
        font-size: 3.5rem
      +desktop()
        right: -80px
      +laptop()
        right: -40px
        font-size: 2rem
        &:hover
          height: 50px
          width: 50px
          font-size: 2rem
          right: -40px
      +phone()
        right: -30px
        font-size: 2rem
        &:hover
          height: 50px
          width: 50px
          font-size: 2rem
          right: -30px
      &:before
        content: ""