.section_call
  padding: 55px 0
  background-color: $l_yellow
  position: relative
  +phone()
    padding: 40px 0 85px
  .call_to_action
    align-items: center
    position: relative
    +phone()
      text-align: center
    .header
      text-transform: inherit
      font-size: 2.25rem
      font-weight: 600
      font-family: "cambriai"
      font-style: italic
      +phone()
        font-size: 1.6rem
    .subheader
      font-size: 1.8rem
      font-weight: 600
      +phone()
        font-size: 1.4rem
    .button_purple,
    .button_green,
    .button_yellow
      font-size: 1.3rem
      +laptop()
        font-size: 1.1rem
      +phone()
        position: relative
        top: 25px

  .form-cursiv-bl
    .header
      font-style: italic
      color: #000
  .form-cursiv-wh
    .header
      font-style: italic
      color: #fff
  .form-wh
    .header
      color: #ffffff
  
  .call_to_action2
    position: relative
    display: flex
    justify-content: space-around
    +phone()
      flex-direction: column
      align-items: center
    
    .block1,
    .block3
      width: 35%
      display: flex
      flex-direction: column
      text-align: center
      +phone()
        width: 80%
      .call_text
        font-size: 1.3rem
        margin-bottom: 2rem
        font-weight: 400
        color: #fff
      .button_yellow
        width: 50%
        margin: 0 25%
        border: 2px solid $l_yellow
        background-color: $l_yellow
        line-height: 1.42
        +phone()
          width: 70%
          margin: 0 15%
        &:hover
          background-color: transparent  
          color: #fff
    .block2
      width: 15%
      color: $l_yellow  
      font-size: 9rem
      text-align: center
      +phone()
        width: 80%
  .doors
    position: absolute
    width: 300px
    right: -150px
    bottom: 0
    height: 80%
    transform: rotateY(90deg)
    transition: 1s all
      
.page_home
  .section_call
    background-color: #282d33
    
.page_courses
  .section_call
    background-color: #0099d2
