.section_document
  padding: 90px 0 140px
  background-image: url('../images/purpleBG.png')
  background-size: cover
  position: relative
  +phone()
    padding: 50px 0
  .head__document
    text-align: center
    color: #fff
    font-size: 2.25rem
    margin-bottom: 45px
    +phone()
      font-size: 1.15rem
  .sliderD
    width: 80%
    margin: 0 auto
    .slider__img
      img
        width: 90%
        height: 280px
        margin: 0 auto
        border-radius: 10px
    .slick-prev
      color: $yellow
      font-size: 3rem
      width: 50px
      height: 50px
      //background: url('../images/icons/left-arrowY.png') no-repeat
      //background-size: contain
      z-index: 100
      left: -100px
      &:hover
        width: 70px
        height: 70px
        left: -110px
        font-size: 3.5rem
      +phone()
        left: -50px
        font-size: 2rem
        &:hover
          width: 50px
          height: 50px
          left: -50px
          font-size: 2rem
      &:before
        content: ""
    .slick-next
      color: $yellow
      width: 50px
      height: 50px
      color: $yellow
      font-size: 3rem
      //background: url('../images/icons/right-arrowY.png') no-repeat
      //background-size: contain
      z-index: 100
      right: -100px
      &:hover
        right: -110px
        width: 70px
        height: 70px
        font-size: 3.5rem
      +phone()
        right: -50px
        font-size: 2rem
        &:hover
          right: -50px
          width: 50px
          height: 50px
          font-size: 2rem
      &:before
        content: ""