.section__price
  padding: 70px 0 150px
  height: auto
  position: relative
  overflow: hidden
  +phone()
    padding-bottom: 60px
  .clouds
    width: 100%
    position: absolute
    bottom: -90px
    z-index: 100
    +desktop()
      bottom: -40px
    +phone()
      bottom: 0
  .price_head
    text-align: center
    font-size: 1.375rem
    font-weight: 400
    margin-bottom: 76px
    +phone()
      display: none
    .green_word
      color: #66cc00
      line-height: 1.7
  .line__buttons 
    display: flex
    justify-content: center
    margin-bottom: 70px
    +phone()
      flex-direction: column
  .calc_button
    box-shadow: 0 0 15px 5px #ccc
    //box-shadow: 0 0 0 0
    border: none
    min-width: 165px
    border-radius: 50px
    font-weight: 600
    font-size: 1.5rem
    margin: 0 15px
    color: $green
    padding: 15px 45px
    text-align: center
    background-color: #fff
    cursor: pointer
    +phone()
      padding: 15px
      min-width: 120px
      margin-bottom: 20px
          
  .calc_button.active_calc
    color: #fff
    background-color: $green
  
  .card__line,
  .card__line2
    justify-content: space-between
    position: relative
    +phone()
      flex-direction: column
    .top_card
      background: url('../images/triangle-top.png') no-repeat
    .price_card
      max-width: 31.5%
      margin: 0 10px
      border-radius: 10px
      border-bottom: 0.5rem solid $green
      padding: 40px 30px 
      box-shadow: 0 0 10px 5px #ccc
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      min-height: 590px
      top: 0
      &:hover
        position: relative
        top: -20px
        box-shadow: 0 0 15px 10px #ccc
        transition: 0.7s all 
      +laptop()
        min-height: 500px
        padding: 30px 10px
        margin: 0 5px
      +phone()
        position: relative
        max-width: 90%
        left: 3%
        margin-bottom: 20px
        padding: 30px 10px
      .card_logo
        margin-bottom: 20px
      .card_head
        font-size: 1.5rem
        text-align: center
        margin-bottom: 20px
        +laptop()
          font-size: 1.2rem
      .card_text,
      .card_text2
        text-align: center
        font-size: 1.5rem 
        +laptop()
          font-size: 1rem
      .card_text2,
      .card_text3,
      .card_text4
        text-align: center
        font-size: 1.5rem 
        display: none
        +laptop()
          font-size: 1rem
      
        
      .card_old-price
        font-size: 2.25rem
        color: $red
        position: relative
        margin-top: 30px
        +laptop()
          margin-top: 10px
          font-size: 1.8rem
        span
          font-size: 1rem
        &:after
          content: ""
          width: 120px
          height: 2px
          background-color: $red
          +centered()
      .card_new-price
        font-size: 3.1rem
        margin-bottom: 20px
        color: $l_green
        +laptop()
          font-size: 2rem
          margin-bottom: 10px
        span 
          font-size: 1rem
      .button_green
        font-size: 1.5rem
        padding: 12px 28px
        font-weight: 500

  
  // Switch
  .ages
    display: flex
    align-items: center
    margin-left: 50px
    +phone()
      margin-left: 0
    .calc_button2
      color: $green
      font-size: 1.5rem
      font-weight: 600 
      border-bottom: 2px solid transparent
      +phone()
        font-size: 1rem
    .active_calc2
      border-bottom: 2px solid $green

  .switch, .switch-label, .switch-slider
    width: 154px
    height: 54px

  .switch
    position: relative
    display: inline-block
    margin: 0 15px //50px 0

    .switch-check
      position: absolute
      opacity: 0

    .switch-label, .switch-slider
      position: absolute
      top: 0

    .switch-label
      left: 0
      text-indent: -9999px

    .switch-slider
      border-radius: 27px
      //box-shadow: 0 0 15px 5px #ccc
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1) inset, 0 0 4px rgba(0, 0, 0, 0.5) inset, 0 5px 4px 1px rgba(0, 0, 0, 0.3)  inset
      -webkit-transition: width 0.2s linear
      -moz-transition: width 0.2s linear
      -o-transition: width 0.2s linear
      transition: width 0.2s linear

    .switch-slider-on
      left: 0
      width: 54px
      //background: #009cd5 //url(../images/on.svg) 100% 12px no-repeat

    .switch-slider-off
      right: 0
      //background: $l_yellow //url(../images/off.svg) 86px 14px no-repeat
      
      &:after
        cursor: pointer
        position: absolute
        top: 0px
        left: 0
        width: 54px
        height: 54px
        border-radius: 50%
        background: $green//#E5E5E5
        
        box-shadow: 0 0 1px 1px #FFF inset, 0 0 1px 1px rgba(0, 0, 0, 0.4)
        content: ''

    .switch-label:active .switch-slider-off:after
      background: $green
      
      
    .switch-check
      &:focus + .switch-label .switch-slider-off:after
        background: $green

      &:checked + .switch-label
        .switch-slider-on
          width: 154px
          
        .switch-slider-off
          width: 54px
          