.section__first-lesson
  padding: 140px 0
  height: auto
  +laptop()
    padding: 50px 0 
  +phone()
    padding: 50px 0
  .first-lesson_head
    font-size: 2.25rem
    font-weight: 600
    margin-bottom: 65px
    text-align: center
  .first-lesson_card
    display: flex
    flex-direction: column
    align-items: center
    .card_logo
      margin-bottom: 24px
      &:hover
        animation: flip 2s
      @keyframes flip
        0%
          transform: rotate(0deg)
        100%
          transform: rotate(360deg)
    .card_head
      padding: 15px
      font-size: 1.25rem
      text-align: center
      +laptop()
        font-size: 0.9rem
    .card_text
      padding: 15px
      font-size: 0.9rem
      text-align: center
      +laptop()
        font-size: 0.7rem
    &:nth-child(1) > .card_text
      border-top: 3px solid #14377c
    &:nth-child(2) > .card_text
      border-top: 3px solid #f79200
    &:nth-child(3) > .card_text
      border-top: 3px solid #55bc00
    &:nth-child(4) > .card_text
      border-top: 3px solid #7e18fc