.section-head
  position: relative
  .slider-wrapper
    position: relative
    height: 595px
    z-index: 100
    +phone()
      height: 530px
    .slick-initialized
      height: 100%
      .slick-list
        height: 100%
        .slick-track
          height: 100%
        .slide__item
          position: relative
          overflow: hidden
          color: #fff
          .slider__img
            width: 20rem
            height: 20rem
            z-index: 2
            +centered(y)
            right: 0
            img
              width: 100% 
              height: 100%
            +laptop()
              width: 15rem
              height: 15rem
              
            +phone()
              width: 8rem
              height: 8rem
              top: 15%
        .slider__content
          width: 70%
          position: absolute
          top: 5%
          z-index: 200
          +phone()
            width: 100%
          .slider_header
            font-size: 4.3rem
            font-weight: 700
            margin-bottom: 2.85rem
            line-height: 1.2
            +laptop()
              font-size: 3.2rem
            +phone()
              font-size: 1.6rem
              padding-right: 30%
          .slider_subheader
            font-size: 1.85rem
            font-weight: 400
            margin-bottom: 35px
            +phone()
              font-size: 1.2rem
          .slider_text
            font-size: 1.85rem
            font-weight: 400
            width: 90%
            text-align: center
            height: 50px
            background: url('../images/brush.png') no-repeat center
            background-size: cover
            margin-bottom: 2.85rem
            padding: 5px 20px
            color: #000
            +desktop()
              font-size: 1.45rem
            +laptop()
              font-size: 1.2rem
            +phone()
              font-size: 1rem
              padding: 5px
              margin-bottom: 1.5rem
          
          .head-form
            input 
              background: none
              border: none
              border-bottom: 2px solid #fff
              width: 50%
              font-size: 24px
              padding: 18px 0
              color: #fff
              &::placeholder
                color: #fff
              +laptop()
                width: 75%
              +phone()
                width: 90%
            button
              border: none
              background: none
              position: relative
              .fas 
                font-size: 3rem
                position: absolute
                right: 24px
                top: -38px
                cursor: pointer
                +phone()
                  font-size: 2rem
                  top: -1.5rem

		
    .slick-prev
      width: 50px
      height: 50px
      background: url('../images/icons/left-arrow.png') no-repeat
      background-size: contain
      z-index: 100
      left: 25px
      &:before
        content: ""
    .slick-next
      width: 50px
      height: 50px
      background: url('../images/icons/right-arrow.png') no-repeat
      background-size: contain
      z-index: 100
      right: 0
      &:before
        content: ""
     
    .slick-dots
      bottom: 30px
      li
        background-color: #303d51
        border-radius: 50px
        width: 15px
        height: 15px
        button
          width: 15px
          height: 15px
         
          &:before
            opacity: 0
            font-size: 70px
            width: 16px
            line-height: 13px
            left: -5px
            +desktop()
              line-height: 15px
            +laptop()
              line-height: 16px
      li.slick-active
        button
          &:before
            opacity: 1
            color: $l_yellow
