.section__onereview
	padding: 120px 0
	+phone()
		padding: 50px 0
	.one_review
		display: flex
		align-items: center
		justify-content: space-between
		&:hover	.text
			display: none
			transition: 2s all 
		&:hover	.yellow_text 
			font-weight: 600
			background-color: $yellow
		+phone()
			flex-direction: column
		.left_part
			width: 23%
			+phone()
				width: 100%
				text-align: center
				margin-bottom: 20px
			img 
				margin-bottom: 20px
				width: 100%
			.sub_img-text
				font-weight: 600
				font-size: 0.9rem
		.right_part
			width: 75%
			height: 100%
			+phone()
				width: 100%
			.start_text
				font-size: 1.35rem
				+phone()
					font-size: 1.15rem
	.yellow_text 
		font-weight: 600
		background-color: rgba($yellow, 0.5)
			