.page_test
	color: #444
	min-height: 75vh
	height: auto
	background-image: url('../images/head-BG.jpg')
	background-size: cover
	.section-head
		height: auto
	.button_yellow
		+phone()
			font-size: 1rem
			margin-top: 20px
			display: block
		&:last-childe()
			margin-bottom: 0
	
	#time, #option1, #option2, #option3, #option4
		display: none
		margin-bottom: 10px

	#time
		font-size: 1,5rem
		font-weight: bold
		padding-top: 2px 
		text-align: right
		+phone()
			font-size: 0.9rem
	#result
		font-size: 2rem
		font-weight: 400
		padding-top: 2px
		line-height: 2.5rem
		+phone()
			line-height: 1.5rem
			font-size: 0.9rem
		.green
			color: #0eff00
			font-size: 2.2rem
		.purp
			color: #6fff67
			font-weight: 600
			font-size: 2.2rem
		.cur_answer
			font-style: italic
			font-size: 1.2rem
	p#question
		font-size: 2rem
		font-weight: bold
		padding-top: 2px
		margin-bottom: 30px
		+phone()
			font-size: 0.9rem
	#stop
		text-align: right

	#start1,
	#start2,
	#start3
		text-transform: uppercase
		min-width: 50%
		margin-bottom: 15px
		+phone()
			min-width: 100%
			font-size: 0.8rem
			padding: 15px 10px
	.answers
		//margin: 30px 0
		width: 100%
		display: flex
		justify-content: space-around
		flex-wrap: wrap
		.button_purple
			padding: 12px
			min-width: 45%
			font-size: 1.3rem
			&:hover
				border: 2px solid $purple
				color: #fff
				background-color: transparent
			+phone()
				font-size: 0.9rem
				&:hover
					background-color: $purple
	.test_text
		text-align: center
		font-size: 2rem
		color: #fff
		margin: 40px
	.test_wrapp
		border: 2px solid #ccc
		border-radius: 30px
		padding: 30px 30px 60px 30px
		margin-bottom: 50px
		position: relative
		p 
			color: #fff

	#testend
		padding: 15px 30px
		&:hover, 
		&:active
			color: #fff
		+phone()
			font-size: 1rem
			margin-top: 20px
	.bottom_button
		display: flex
		justify-content: center
		#end
			padding: 0.8rem
			//margin-right: 25px
		+phone()
			flex-direction: column
		.button_yellow
			min-width: 280px
			margin: 0 20px
			+phone()
				min-width: 100%
				margin: 10px 0
				font-size: 0.8rem
	.result_wrapp
		overflow: hidden
		position: relative
		padding-top: 30px
	#progressbar
		position: absolute
		display: none
		left: 2%
		top: 10px
		height: 10px
		width: 10%
		background-color: $green


		

	