=centered($axis: 'both') 
	position: absolute

	@if $axis == 'both' 
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)

	@if $axis == 'x' 
		left: 50%
		transform: translateX(-50%)

	@if $axis == 'y' 
		top: 50%
		transform: translateY(-50%)	


%clearfix 
	&:after 
		content: ""
		display: block
		clear: both

//-------------------------------------------media
=desktop
	@media (max-width: 1281px)
		@content

=laptop
	@media (max-width: 992px)
		@content

=tablet
	@media (max-width: 768px)
		@content

=phone
	@media (max-width: 480px)
		@content

=landscape
	@media (orientation: landscape)
		@content

//--------------------------------------------

=opacity($opacity) 
  opacity: $opacity
  $opacity-ie: $opacity * 100
  filter: alpha(opacity = $opacity-ie) //IE8

//--------------------------------------------
=gradient($start-color, $end-color, $orientation) 
  background: $start-color
  @if $orientation == 'vertical' 
    background: -webkit-linear-gradient(top, $start-color, $end-color)
    background: linear-gradient(to bottom, $start-color, $end-color)
  @else if $orientation == 'horizontal' 
    background: -webkit-linear-gradient(left, $start-color, $end-color)
    background: linear-gradient(to right, $start-color, $end-color)
  @else 
    background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color)
    background: radial-gradient(ellipse at center, $start-color, $end-color)
  

=button50($color, $l_color, $d_color)
	border: 2px solid $color
	border-radius: 50px
	font-weight: 600
	font-size: 1.2rem
	color: #fff
	padding: 0.8rem 1.6rem
	text-align: center
	background-color: $color
	cursor: pointer
	&:hover
		border: 2px solid $l_color
		color: $l_color
		background-color: transparent
	&:active
		border: 2px solid $d_color
		color: $d_color
		background-color: transparent

=select50($color, $l_color, $d_color)
	border: 2px solid $color
	border-radius: 50px
	font-weight: 600
	color: #fff
	padding: 1rem 2rem
	text-align: center 
	background: url(../images/icons/arrow_down.png) $color no-repeat right center
	background-size: contain
	&:hover
		border: 2px solid $l_color
		background-color: $l_color
	&:active
		border: 2px solid $d_color
		background-color: $d_color