mixin title (title, url, additionClass)
	.title(style=`background-image: url('img/decor/${url}')` class=additionClass)= title

mixin button (name, href)
	- href = href || "#"
	a.button(href=href)= name

mixin plus_item (text)
	li 
		img.plus-img(src="./assets/images/icons/redP.png", alt="plus")
		= text

mixin minus_item (text)
	li 
		img.plus-img(src="./assets/images/icons/greenM.png", alt="plus")
		= text