@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=cyrillic-ext" rel="stylesheet')

@font-face 
	font-family: 'bernier'
	src: url('../fonts/bernierregular-regular-webfont.woff') format('woff')
	font-weight: normal
	font-style: normal

@mixin bernier() 
	font-family: 'bernier'


@font-face 
	font-family: 'gotham'
	src: url('../fonts/gotham/GothaProMed.otf') format('otf')
	font-weight: 500
	font-style: normal

@font-face 
	font-family: 'gotham'
	src: url('../fonts/gotham/GothaProReg.otf') format('otf')
	font-weight: 400
	font-style: normal

@font-face 
	font-family: 'gotham'
	src: url('../fonts/gotham/GothaProBol.otf') format('otf')
	font-weight: 600
	font-style: normal

@font-face 
	font-family: 'gotham'
	src: url('../fonts/gotham/GothamPro-Medium.woff') format('woff')
	font-weight: 600
	font-style: normal

@font-face 
	font-family: 'gotham'
	src: url('../fonts/gotham/GothamPro.woff') format('woff')
	font-weight: 400
	font-style: normal

@font-face 
	font-family: 'gotham'
	src: url('../fonts/gotham/GothamPro-Bold.woff') format('woff')
	font-weight: 600
	font-style: normal

@font-face 
	font-family: 'cambriai'
	src: url('../fonts/GAMBRIAI.ttf') format('ttf')
	font-weight: 600
	font-style: italic

