html 
	height: 100%

body 
	height: 100%
	margin: 0
	font-family: "gotham", sans-serif
	line-height: 1.42
	-webkit-font-smoothing: antialiased
	font-size: 16px
	user-select: none
	+desktop()
		font-size: 16px
	+laptop()
		font-size: 14px
	+tablet()
		font-size: 14px
	+phone()
		font-size: 10px


.wrapper 
	min-height: 100%
	position: relative
	overflow: hidden
	//+phone()
		//overflow: auto

.container
	position: relative
	height: 100%
	margin: 0 auto
	width: 80%
	+desktop()
		width: 90%
		max-width: 90%
	+laptop()
		width: 95%
		max-width: 95%
	+tablet()
		width: 95%
		max-width: 95%
	+phone()
		width: 95%
		max-width: 95%

ul
	padding: 0
	margin: 0
	list-style-type: none
	

p 
	margin: 0

h1, h2, h3, h4, h5 
	margin-top: 0
	margin-bottom: 0
	font-weight: 600

*
	box-sizing: border-box
	outline: none

section
	width: 100%

.hyper-link
	color: $l_blue

.button_purple
	+button50($purple, $l_purple, $d_purple)

.button_yellow
	+button50($yellow, $l_yellow, $d_yellow)

.button_green
	+button50($green, $l_green, $d_green)

a 
	color: #000 
	text-decoration: none
	-webkit-tap-highlight-color: transparent

.scrollup
	width: 40px
	height: 40px
	position: fixed
	bottom: 20px
	right: 20px
	display: none
	z-index: 5000
	text-indent: -9999px
	background: url("../images/icons/up-arrow.png") no-repeat 
	background-size: cover
	outline: none

/* #p_prldr
	position: fixed
	width: 100vw
	height: 100vh
	left: 0
	top: 0
	right: 0
	bottom: 0
	background: #fff
	z-index: 9000
	.loaderr
		width: 150px
		height: 150px
		background: url("../images/preloader.gif") no-repeat center
		+centered()
		 */

.preloader
  height: 100vh
  width: 100vw
  position: fixed
  left: 0
  top: 0
  vertical-align: middle
  background-color: #00A7E1
  //background-image: url(../images/head-BG.png)
  //background-size: cover
  //background-repeat: no-repeat
  background: #019cd5
  z-index: 9999

.halfStyle
  display: inline-block
  font-family: "GraublauWeb",sans-serif
  font-size: 200pt
  font-weight: bold
  color: #92bb15
  overflow: hidden
  white-space: pre
  text-transform: uppercase
  text-align: center
  position: absolute
  top: 0
  left: 0
  //position: fixed
  //top: 50%
  //left: 50%
  //transform: translate(-50%, -50%)
  //width: 400px
  width: 25%
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  &:before
    display: block
    z-index: 1
    position: absolute
    top: 0
    width: 100%
    content: attr(data-content)
    overflow: hidden
    color: #fff
  +tablet()
    width: 50%
    font-size: 6rem
  +phone()
    width: 75%
    font-size: 7rem

#svg
  width: 25%
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  +tablet()
    width: 50%
  +phone()
    width: 75%
  circle
    stroke-dashoffset: 0
    transition: stroke-dashoffset 1s linear
    stroke: #fff
    stroke-width: 5px
  #bar
    stroke-dashoffset: 1507.96
    stroke: #92bb15

.trinity-rings-spinner
  box-sizing: border-box
  *
    box-sizing: border-box
  height: 66px
  width: 66px
  padding: 3px
  position: relative
  display: flex
  justify-content: center
  align-items: center
  flex-direction: row
  overflow: hidden
  box-sizing: border-box
  .circle
    position: absolute
    display: block
    border-radius: 50%
    border: 13px solid #ff1d5e
    opacity: 1
    &:nth-child(1)
      height: 60px
      width: 60px
      animation: trinity-rings-spinner-circle1-animation 1.5s infinite linear
      border-width: 3px
    &:nth-child(2)
      height: calc(60px * 0.65)
      width: calc(60px * 0.65)
      animation: trinity-rings-spinner-circle2-animation 1.5s infinite linear
      border-width: 2px
    &:nth-child(3)
      height: calc(60px * 0.1)
      width: calc(60px * 0.1)
      animation: trinity-rings-spinner-circle3-animation 1.5s infinite linear
      border-width: 1px

@keyframes trinity-rings-spinner-circle1-animation
  0%
    transform: rotateZ(20deg) rotateY(0deg)

  100%
    transform: rotateZ(100deg) rotateY(360deg)


@keyframes trinity-rings-spinner-circle2-animation
  0%
    transform: rotateZ(100deg) rotateX(0deg)

  100%
    transform: rotateZ(0deg) rotateX(360deg)


@keyframes trinity-rings-spinner-circle3-animation
  0%
    transform: rotateZ(100deg) rotateX(-360deg)

  100%
    transform: rotateZ(-360deg) rotateX(360deg)