extends ../_template

block title
	| Контакты

block content
	.page_type.page_contacts
		section.section-head
			include ../parts/header
			.container
				.contacts_text
					p.contacts_phone
						img(src="./assets/images/icons/phone.png", alt="")
						| +38 (068) 773 58 49
					p.contacts_adress
						img(src="./assets/images/icons/adress.png", alt="")
						| ул. Богдана Хмельницкого, дом 63 (вход через арку)
					p.contacts_mail
						img(src="./assets/images/icons/mail.png", alt="")
						| studio@englishfamily.com.ua
				.row 
					.col-md-6
						.contacts_map
							iframe#mapp(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2136.3990688350796!2d30.497516005109443!3d50.448160255360776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cef543f8e283%3A0x801b38a33e48f0a2!2z0LLRg9C70LjRhtGPINCR0L7Qs9C00LDQvdCwINCl0LzQtdC70YzQvdC40YbRjNC60L7Qs9C-LCA2Mywg0JrQuNGX0LI!5e0!3m2!1suk!2sua!4v1511432628149', width='100%', height='350', frameborder='0', style='border:0', allowfullscreen='')
					.col-md-6
						form.contacts_form.form
							input.form_item(type="text", placeholder="Имя", required)
							input.form_item(type="email", placeholder="E-mail", required)
							textarea.form_item.form_item_text(name="massage", cols="30", rows="8", placeholder="Сообщение", required )
							button.form_item.form_item_button(type="submit") Отправить

		include ../parts/footer