extends ../_template

block title
	| 404

block content
	.page_type.page_error
		section.section-head
			include ../parts/header
			.container
				.error-text
					h2.number 404
					h2.text Страница не найдена
				

		include ../parts/footer