extends ../_template

block title
	| Главная

block content
	.page_type.page_home
		section.section-head
			include ../parts/header
			include ../parts/slider-head

		section.section-advantages
			.container
				h5.head__advant Преимущества
				.advant__block
					.advant__item.advan1
						.image_container
							img.card_logo(src="./assets/images/advant/icons.png", alt="маршрут")
						p Центр города
					.advant__item.advan2
						.image_container
							img.card_logo(src="./assets/images/advant/icons2.png", alt="гибкий график")
						p Гибкий график
					.advant__item.advan3
						.image_container
							img.card_logo(src="./assets/images/advant/icons3.png", alt="компактные группы")
						p Компактные группы
					.advant__item.advan4
						.image_container
							img.card_logo(src="./assets/images/advant/icons4.png", alt="кофе-брейк")
						p Wi-Fi, кофе-брейк
					.advant__item.advan5
						.image_container
							img.card_logo(src="./assets/images/advant/icons5.png", alt="разговорная практика")
						p 80% разговорной практики
					.advant__item.advan6 
						.image_container
							img.card_logo(src="./assets/images/advant/icons6.png", alt="вовлеченность")
						p Интерактивность и вовлеченность
		section.section-lists
			.lists-bg
				.plus__list
				.minus__list
				img.clouds(src="./assets/images/clouds.png", alt="")
			.container 
				.row
					.col-md-6.listP
						h5.head__list Остальные школы
						ul.lister 
							+plus_item('Выполнять скучные домашние задания из учебника')
							+plus_item('Механическое заучивание неактуальной лексики из устаревших аналоговых словарей и разговорников')
							+plus_item('Учиться в многолюдных коллективах с неравномерным уровнем подготовки и различными целями')
							+plus_item('Неуклонно соблюдать бюрократические формальности, планы и правила учителей')
							+plus_item('Учиться у людей, отбывающих положенные часы за зарплату на тягостной работе')
							+plus_item('Следовать устаревшим и неэффективным методикам') 
					.col-md-6.listM
						h5.head__list Школа English Family
						ul.lister 
							+minus_item('Cмотреть любимые фильмы и сериалы на английском (блоги, вайны и т.д.)')
							+minus_item('Пользоваться обновляемым мобильным приложением для удобного и быстрого использования новых слов')
							+minus_item('Взаимодействовать с оптимизированными под методику English Family компактными группами')
							+minus_item('Учиться у преподавателей, нацеленных на развитие практических навыков')
							+minus_item('Перенимать знания и навыки у мотивированных, вовлеченных в процесс профессионалов')
							+minus_item('Быть в тренде, учиться у блогеров и по современным методикам')

			button.button_green.open_popup Запишись	
		section.section_teacher
			h5.head__teacher Наши преподаватели
			.slider-wrapper
				.slider-nav
					.slide__item.first-item
						.slider__img
							img(src='./assets/images/ket.jpg', title='English')
						.slider__content
							p.slider_header Екатерина
							p.slider_subheader Основатель студии, преподаватель английского языка
						
					
					.slide__item.second-item
						.slider__img
							img(src='./assets/images/elvir.jpg', title='English')
						.slider__content
							p.slider_header Эльвира
							p.slider_subheader Преподаватель английского языка

					.slide__item.third-item
						.slider__img
							img(src='./assets/images/people3.png', title='English')
						.slider__content
							p.slider_header Стань преподавателем

				.slider-for
					.slide__item.first-item
						.slider__img
							img(src='./assets/images/ket.jpg', title='English')
						.slider__content
							p.slider_header Екатерина
							p.slider_subheader Основатель студии, преподаватель английского языка
							ul.slider_list
								li высшее филологическое и экономическое образование
								li уровень владения английским C1 (Advanced)
								li опыт работы преподавателем более 7 лет
								li постоянное участие в программах профессионального роста от Longman и Cambridge
								li преподавательская и языковая сертификация от Cambridge (FCE, TKT)							
					
					.slide__item.second-item
						.slider__img
							img(src='./assets/images/elvir.jpg', title='English')
						.slider__content
							p.slider_header Эльвира
							p.slider_subheader Преподаватель английского языка
							ul.slider_list
								li высшее филологическое и финансовое образование
								li уровень владения английским C1 (Advanced)
								li опыт работы преподавателем более 5 лет
								li проведение корпоративного обучения в международных компаниях CreditAgricoleBank, Indesit, Amako, Materialise
								li опыт успешной подготовки к ЗНО и международным экзаменам (FCE, SAT)
								li регулярное участие в семинарах и вебинарах с целью повышения профессиональных навыков			

					.slide__item.third-item
						.slider__img
							img(src='./assets/images/gogi.jpg', title='English')
						.slider__content
							p.slider_header Стань преподавателем
							p.slider_subheader Школа English Family будет рада принять в свои ряды квалифицированных и целеустремленных преподавателей. Если Вы: 
							ul.slider_list
								li дипломированный филолог, 
								li свободно владеете английским языком 
								li имеете опыт преподавания по методикам Cambridge и Oxford 
							p.slider_subheader2 Присылайте резюме на studio@englishfamily.com.ua  с темой “Резюме”.		

		section.section_document
			h5.head__document Сертификаты English Family
			.slider-wrapper
				.container
					.sliderD

						.slide__item
							.slider__img
								img(src='./assets/images/sert/1.jpg', title='English')
							
						.slide__item
							.slider__img
								img(src='./assets/images/sert/2.jpg', title='English')

						.slide__item
							.slider__img
								img(src='./assets/images/sert/3.png', title='English')

						.slide__item
							.slider__img
								img(src='./assets/images/sert/4.png', title='English')
						
						.slide__item
							.slider__img
								img(src='./assets/images/sert/5.jpg', title='English')

						.slide__item
							.slider__img
								img(src='./assets/images/sert/6.jpg', title='English')
						
						
			
		section.section_comment
			.container
				.slider-wrapper
					.slider-nav2
						.slide__item.item1
							.slider__img
								img(src='./assets/images/mor.jpg', title='English')
						.slide__item.item2
							.slider__img
								img(src='./assets/images/zem.jpg', title='English')
						.slide__item.item3
							.slider__img
								img(src='./assets/images/men.jpg', title='English')
						.slide__item.item4
							.slider__img
								img(src='./assets/images/bos.jpg', title='English')
						
					.slider-for2
						.slide__item.item1
							.slider__content
								p.slider_header Сергей, Курс Business English
								p.slider_subheader моряк
								p.slider_text Доволен, как процессом учебы, так и результатом. Преподаватели - профессионалы своего дела, легко и доступно объясняют и умеют заинтересовать. Сначала сам подтянул английский, потом записались жена и дочь. Теперь соревнуемся в английском, да и приятно, что так дешевле учиться, так как получили «семейную» скидку.
						.slide__item.item2
							.slider__content
								p.slider_header Валерия, Курс Business English
								p.slider_subheader землеустроитель
								p.slider_text В студии обучается моя дочь со второго класса, когда мы поняли, что школьного английского нам не хватает. Я очень довольна занятиями, у дочери появился интерес к английскому, в школе улучшились оценки и нас стала часто хвалить учительница. Самое главное ребёнок с  радостью идёт на занятия, за что спасибо преподавателю, ведь так важно найти подход к ребёнку.
						.slide__item.item3
							.slider__content
								p.slider_header Евгения, Курс Business English
								p.slider_subheader менеджер 
								p.slider_text Больше всего мне нравится, легкая и динамичная атмосфера на занятиях. Время пролетает очень быстро, мы постоянно говорим на английском, что-то обсуждаем, смотрим, в общем скучать точно не приходиться! Огромное спасибо преподавателю, что мотивирует нас говорить на английском и всегда раскладывает даже сложные темы по полочкам. Хожу на занятия с огромных интересом и, как результат, в путешествиях за границу теперь чувствую себя намного увереннее!
						.slide__item.item4
							.slider__content
								p.slider_header Тарас, Курс Business English
								p.slider_subheader начальник проектного отдела
								p.slider_text Нашёл здесь именно то, что мне нужно было. По работе предстояла перспектива участия в международных проектах, и нужно было в очень сжатые сроки подготовиться к общению с партнерами. Преподаватель составила программу так, что после 3 месяцев интенсивных занятий я без проблем общаюсь в рамках своих задач. всем рекомендую студию, здесь действительно Вы получите индивидуальный подход.
						
		section.section_call
			
			.container
				.row.call_to_action.form-cursiv-wh
					.col-md-3
						img(src="./assets/images/boxlight.png", alt="")
					.col-md-6
						p.header Узнай свой уровень английского
					.col-md-3
						a.button_yellow(href="./page_test.html") Пройди тест
				
		include ../parts/form
		include ../parts/footer