extends ../_template

block title
	| Курсы английского языка с нуля

block content
	.page_type.page_courses
		section.section-head
			include ../parts/header
			.courses_header
				.container
					.banner__img
						img(src='./assets/images/courshead/from0.png', title='English')
					.banner__content
						h1.banner_header Английский язык для начинающих с нуля
						.banner_subheader 
							h3.eng Those who know nothing of foreign languages know nothing of their own. 
							h3.ru Кто не знает иностранных языков, тот ничего не знает о своём.
							span Johann Wolfgang von Goethe
 
						p.banner_text Запишись на первое бесплатное занятие
						form.head-form
							input.phones(type="text" value="+38 ")
							button(type="submit")
								.fas.fa-chevron-circle-right
		section.section__price
			img.clouds(src="./assets/images/clouds.png", alt="")
			.container
				.price_head 
					p 
						span.green_word Оптимальный курс 
						| английского для начинающих, основанный на коммуникативной методике от Cambridge, вырабатывает устойчивые языковые 
						span.green_word навыки уже после первых 2 недель 
						| изучения. Интенсивные применение интерактивных материалов способствует 
						span.green_word быстрому и легкому 
						|освоению необходимого языкового арсенала для элементарного взаимодействия с англоязычным обществом.
					//p 
						span.green_word Базовый уровень 
						| английского языка всего  
						span.green_word за 3 месяца
					//p Коммуникативная методика, интерактивное обучение, быстрый результат

				.line__buttons 
					button.calc_button.mis.active_calc Месяц
					button.calc_button.cours Курс
				.row.card__line.justify-content-center
					.col-md-4.price_card.top_card
						img.card_logo(src="./assets/images/card-logo1.png", alt="")
						h3.card_head Индивидуально
						.card_text.card_text1 
							p 12 часов
							p 2 занятия в неделю 
							p по 90 минут
							p.card_old-price 3150
								span грн
							p.card_new-price 2990
								span грн
						.card_text2
							p 2 месяца по 12 часов
							p 2 раза в неделю
							p по 90 минут
							p.card_old-price 6300
								span грн
							p.card_new-price 5355
								span грн
						button.open_popup.button_green Заказать
					.col-md-4.price_card
						img.card_logo(src="./assets/images/card-logo2.png", alt="")
						h3.card_head В паре
						.card_text.card_text1 
							p 12 часов
							p 2 занятия в неделю 
							p по 90 минут
							p.card_old-price 2700
								span грн
							p.card_new-price 2565
								span грн
						.card_text2
							p 2 месяца по 12 часов
							p 2 раза в неделю
							p по 90 минут
							p.card_old-price 5400
								span грн
							p.card_new-price 4590
								span грн
						button.open_popup.button_green Заказать
					.col-md-4.price_card
						img.card_logo(src="./assets/images/card-logo3.png", alt="")
						h3.card_head В группе
						.card_text.card_text1 
							p 12 часов
							p 2 занятия в неделю 
							p по 90 минут
							p.card_old-price 2150
								span грн
							p.card_new-price 2050
								span грн
						.card_text2
							p 2 месяца по 12 часов
							p 2 раза в неделю
							p по 90 минут
							p.card_old-price 4300
								span грн
							p.card_new-price 3655
								span грн
						button.open_popup.button_green Заказать
					
		section.section__advantages-course
			.container 
				h5.advantages_head Преимущества
				.row.advantages_row
					.col-md-4.col-sm-12.advantages_card
						.image_container
							img.card_logo(src="./assets/images/advant1.png", alt="")
						h5.card_head Максимум внимания каждому ученику
					.col-md-4.col-sm-12.advantages_card
						.image_container
							img.card_logo(src="./assets/images/advant2.png", alt="")
						h5.card_head Плавное и естественное освоение языка
					.col-md-4.col-sm-12.advantages_card
						.image_container
							img.card_logo(src="./assets/images/advant3.png", alt="")
						h5.card_head Результат с первых уроков

		include ../parts/super_review
		
		section.section__first-lesson
			.container
				h5.first-lesson_head Что тебя ждет на первом занятии
				.row.first-lesson_row
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item.png", alt="")
						h5.card_head Познакомимся с преподавателями
						.card_text 
							p Непринужденное общение в дружелюбной атмосфере
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item2.png", alt="")
						h5.card_head Определим уровень владения языком
						.card_text 
							p С помощью несложного задания установим текущий уровень английского
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item3.png", alt="")
						h5.card_head Обсудим ваши цели в изучении языка
						.card_text 
							p Выберем курс согласно вашим интересам: детский, разговорный, деловой  
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item4.png", alt="")
						h5.card_head Вместе разработаем программу обучения
						.card_text 
							p По результатам тестирования определим индивидуальную программу лично для вас
		
		include ../parts/call-to-action-or
		
		
		section.section__all-courses
			include ../parts/courses_slider
		include ../parts/form
		include ../parts/footer