extends ../_template

block title
	| Экспресс-курс

block content
	.page_type.page_courses
		section.section-head
			include ../parts/header
			.courses_header
				.container
					.banner__img
						img(src='./assets/images/courshead/eksp.png', title='English')
					.banner__content
						h1.banner_header Ускоренные курсы <br> английского языка
						.banner_subheader 
							h3.eng Live as if you were to die tomorrow. Learn as if you were to live forever. 
							h3.ru Живи так, будто завтра умрешь; учись так, будто проживешь вечно.
							span Gandhi
 
						p.banner_text Запишись на первое бесплатное занятие
						form.head-form
							input.phones(type="text" value="+38 ")
							button(type="submit")
								.fas.fa-chevron-circle-right
		section.section__price
			img.clouds(src="./assets/images/clouds.png", alt="")
			.container
				.price_head 
					p 
						span.green_word Интенсивный курс 
						| английского языка дает 
						span.green_word мощный толчок 
						| в языковом потенциале и уверенности в целом. Благодаря актуальным специализированным методикам, студенты в 
						span.green_word быстро и эффективно 
						| овладевают фундаментальными навыками в общении на английском языке. Особенно необходима данная программа людям с 
						span.green_word насыщенным деловым графиком, 
						| готовым к резким переменам и настроенным на динамичный прогресс.

					//p Экспресс-курс  
						span.green_word “Командировка” 
					//p Создание резюме и подготовка к собеседованию
					//p Подготовка к презентации, деловой встрече, переговорам
				.line__buttons 
					button.calc_button.mis.active_calc Месяц
					button.calc_button.cours Курс
				.row.card__line.justify-content-center
					.col-md-4.price_card.top_card
						img.card_logo(src="./assets/images/card-logo1.png", alt="")
						h3.card_head Разговорный интенсив
						.card_text.card_text1
							p 24 часа (2 блока по 5 недель) 
							p 2 занятия в неделю
							p по 180 мин.
							p.card_old-price 6150
								span грн
							p.card_new-price 5850
								span грн
						.card_text2
							p 10 недель 
							p 2 занятия в неделю
							p по 180 мин.
							p.card_old-price 12300
								span грн
							p.card_new-price 10455
								span грн
						button.open_popup.button_green Заказать
					.col-md-4.price_card
						img.card_logo(src="./assets/images/card-logo2.png", alt="")
						h3.card_head Индивидуальная подготовка
						.card_text.card_text1
							p 5 часов
							p График по согласованию 
							p.card_old-price 1600
								span грн
							p.card_new-price 1520
								span грн
						.card_text2
							p 5 часов
							p График по согласованию 
							p.card_old-price 1600
								span грн
							p.card_new-price 1520
								span грн
						button.open_popup.button_green Заказать

		section.section__advantages-course
			.container 
				h5.advantages_head Преимущества
				.row.advantages_row
					.col-md-4.col-sm-12.advantages_card
						.image_container
							img.card_logo(src="./assets/images/advant1.png", alt="")
						h5.card_head Индивидуальная ускоренная программа 
					.col-md-4.col-sm-12.advantages_card
						.image_container
							img.card_logo(src="./assets/images/advant2.png", alt="")
						h5.card_head Плотный график, максимум практики 
					.col-md-4.col-sm-12.advantages_card
						.image_container
							img.card_logo(src="./assets/images/advant3.png", alt="")
						h5.card_head Упор на исправление слабых мест 			
		
		include ../parts/super_review
		
		section.section__first-lesson
			.container
				h5.first-lesson_head Что тебя ждет на первом занятии
				.row.first-lesson_row
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item.png", alt="")
						h5.card_head Познакомимся с преподавателями
						.card_text 
							p Непринужденное общение в дружелюбной атмосфере
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item2.png", alt="")
						h5.card_head Определим уровень владения языком
						.card_text 
							p С помощью несложного задания установим текущий уровень английского
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item3.png", alt="")
						h5.card_head Обсудим ваши цели в изучении языка
						.card_text 
							p Выберем курс согласно вашим интересам: детский, разговорный, деловой  
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item4.png", alt="")
						h5.card_head Вместе разработаем программу обучения
						.card_text 
							p По результатам тестирования определим индивидуальную программу лично для вас
		
		include ../parts/call-to-action-or
		
		
		section.section__all-courses
			include ../parts/courses_slider
		include ../parts/form
		include ../parts/footer