extends ../_template

block title
	| Курс делового английского

block content
	.page_type.page_courses
		section.section-head
			include ../parts/header
			.courses_header
				.container
					.banner__img
						img(src='./assets/images/courshead/del.png', title='English')
					.banner__content
						h1.banner_header Бизнес-курс английского языка
						.banner_subheader 
							h3.eng A different language is a different vision of life. 
							h3.ru Другой язык — это другой взгляд на жизнь.
							span Federico Fellini
 
						p.banner_text Запишись на первое бесплатное занятие
						form.head-form
							input.phones(type="text" value="+38 ")
							button(type="submit")
								.fas.fa-chevron-circle-right
		section.section__price
			img.clouds(src="./assets/images/clouds.png", alt="")
			.container
				.price_head 
					p Бизнес-курс английского для нацелен на развитие, закрепление и грамотное использование 
						span.green_word коммуникативных навыков в деловой среде. 
						| Применяемая преподавателями коммуникативная методика ориентирована на успешное восприятие и воспроизведение лексики связанной с деловой документацией, 
						span.green_word корреспонденцией, встречами и переговорами. 
						| За счет глубокого погружения в специальную языковую среду обучение проходит в максимально 
						span.green_word приближенном к реалиям 
						| виде. 
					//p Закрепление и практика коммуникативных навыков в
					//p 
						span.green_word бизнес-ориентированной лексике

				.line__buttons 
					button.calc_button.mis.active_calc Месяц
					button.calc_button.cours Курс
				.row.card__line.justify-content-center
					.col-md-4.price_card.top_card
						img.card_logo(src="./assets/images/card-logo1.png", alt="")
						h3.card_head Индивидуально
						.card_text.card_text1 
							p 12 часов
							p 2 занятия в неделю 
							p по 90 минут
							p.card_old-price 3950
								span грн
							p.card_new-price 3750
								span грн
						.card_text2
							p 5 месяца по 12 часов
							p 2 раза в неделю
							p по 90 минут
							p.card_old-price 19750
								span грн
							p.card_new-price 16780
								span грн
						button.open_popup.button_green Заказать
					.col-md-4.price_card
						img.card_logo(src="./assets/images/card-logo2.png", alt="")
						h3.card_head В паре
						.card_text.card_text1 
							p 12 часов
							p 2 занятия в неделю 
							p по 90 минут
							p.card_old-price 3350
								span грн
							p.card_new-price 3180
								span грн
						.card_text2
							p 5 месяца по 12 часов
							p 2 раза в неделю
							p по 90 минут
							p.card_old-price 16750
								span грн
							p.card_new-price 14230
								span грн
						button.open_popup.button_green Заказать
					.col-md-4.price_card
						img.card_logo(src="./assets/images/card-logo3.png", alt="")
						h3.card_head В группе
						.card_text.card_text1 
							p 12 часов
							p 2 занятия в неделю 
							p по 90 минут
							p.card_old-price 2730
								span грн
							p.card_new-price 2600
								span грн
						.card_text2
							p 5 месяца по 12 часов
							p 2 раза в неделю
							p по 90 минут
							p.card_old-price 13650
								span грн
							p.card_new-price 11600
								span грн
						button.open_popup.button_green Заказать
					
		section.section__advantages-course
			.container 
				h5.advantages_head Преимущества
				.row.advantages_row
					.col-md-4.col-sm-12.advantages_card
						.image_container
							img.card_logo(src="./assets/images/advant1.png", alt="")
						h5.card_head Специализированный деловой английский
					.col-md-4.col-sm-12.advantages_card
						.image_container
							img.card_logo(src="./assets/images/advant2.png", alt="")
						h5.card_head Программа под требования вашей сферы деятельности
					.col-md-4.col-sm-12.advantages_card
						.image_container
							img.card_logo(src="./assets/images/advant3.png", alt="")
						h5.card_head Технический английский и терминология
		
		include ../parts/super_review
		
		section.section__first-lesson
			.container
				h5.first-lesson_head Что тебя ждет на первом занятии
				.row.first-lesson_row
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item.png", alt="")
						h5.card_head Познакомимся с преподавателями
						.card_text 
							p Непринужденное общение в дружелюбной атмосфере
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item2.png", alt="")
						h5.card_head Определим уровень владения языком
						.card_text 
							p С помощью несложного задания установим текущий уровень английского
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item3.png", alt="")
						h5.card_head Обсудим ваши цели в изучении языка
						.card_text 
							p Выберем курс согласно вашим интересам: детский, разговорный, деловой  
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item4.png", alt="")
						h5.card_head Вместе разработаем программу обучения
						.card_text 
							p По результатам тестирования определим индивидуальную программу лично для вас
							
		include ../parts/call-to-action-or
		
		
		section.section__all-courses
			include ../parts/courses_slider
		include ../parts/form
		include ../parts/footer