extends ../_template

block title
	| Корпоративный английский

block content
	.page_type.page_courses
		section.section-head
			include ../parts/header
			.courses_header
				.container
					.banner__img
						img(src='./assets/images/courshead/korp.png', title='English')
					.banner__content
						h1.banner_header Корпоративное обучение английскому в офисе компании
						.banner_subheader 
							h3.eng Is it not enjoyable to learn and practise what you`ve learned? 
							h3.ru Учиться и время от времени повторять изученное, разве это не приятно?
							span Confucius
 
						p.banner_text Запишись на первое бесплатное занятие
						form.head-form
							input.phones(type="text" value="+38 ")
							button(type="submit")
								.fas.fa-chevron-circle-right
		section.section__price
			img.clouds(src="./assets/images/clouds.png", alt="")
			.container
				.price_head 
					p Курсы и индивидуальные занятия по 
						span.green_word деловому английскому для сотрудников компаний 
						| и руководящего звена — от базового разговорного до специализированного делового, адаптированного под 
						span.green_word специфику деятельности компании.
						| В результате адаптивной коммуникативной методики студенты воспринимают речь носителей языка и устно, и письменно, 
						span.green_word работают с документацией, 
						| ведут 
						span.green_word переговоры, 
						| проводят 
						span.green_word презентации 
						| компании. 

					//p Курсы для сотрудников компаний и руководящего звена
					//p От  
						span.green_word базового разговорного 
						| до специализированного делового

				.line__buttons 
					button.calc_button.active_calc Группа
					button.calc_button.cours Индивидуально
				.row.card__line.justify-content-center
					.col-md-4.price_card.top_card
						img.card_logo(src="./assets/images/card-logo1.png", alt="")
						h3.card_head Общий разговорный курс английского языка
						.card_text.card_text1 
							p 4 месяца, 42 учебных часа
							p 2 раза в неделю
							p по 90 минут
							p Групповые занятия до 8 человек
							p.card_new-price 550
								span грн/занятие
							//p.card_new-price 4400
								span грн/месяц
						.card_text2
							p 4 месяца, 42 учебных часа
							p 2 раза в неделю
							p по 90 минут
							p.card_new-price 450
								span грн
						button.open_popup.button_green Заказать
					.col-md-4.price_card
						img.card_logo(src="./assets/images/card-logo2.png", alt="")
						h3.card_head Бизнес-курс делового английского языка
						.card_text.card_text1 
							p 4 месяца, 42 учебных часа
							p 2 раза в неделю
							p по 90 минут
							p Групповые занятия до 8 человек
							p.card_new-price 600
								span грн/занятие
							//p.card_new-price 4800
								span грн/месяц
						.card_text2
							p 4 месяца, 42 учебных часа
							p 2 раза в неделю
							p по 90 минут
							p.card_new-price 495
								span грн
						button.open_popup.button_green Заказать
					.col-md-4.price_card
						img.card_logo(src="./assets/images/card-logo3.png", alt="")
						h3.card_head Специализированный курс
						.card_text.card_text1
							p 4 месяца, 42 учебных часа
							p 2 раза в неделю
							p по 90 минут
							p Групповые занятия до 8 человек
							p.card_new-price 650
								span грн/занятие
							//p.card_new-price 5200
								span грн/месяц
						.card_text2
							p 4 месяца, 42 учебных часа
							p 2 раза в неделю
							p по 90 минут
							p.card_new-price 585
								span грн
						button.open_popup.button_green Заказать
					
		section.section__advantages-course
			.container 
				h5.advantages_head Преимущества
				.row.advantages_row
					.col-md-4.col-sm-12.advantages_card
						.image_container
							img.card_logo(src="./assets/images/advant1.png", alt="")
						h5.card_head Занятия в вашем офисе по удобному графику
					.col-md-4.col-sm-12.advantages_card
						.image_container
							img.card_logo(src="./assets/images/advant2.png", alt="")
						h5.card_head Корпоративный преподаватель с 5 летним опытом
					.col-md-4.col-sm-12.advantages_card
						.image_container
							img.card_logo(src="./assets/images/advant3.png", alt="")
						h5.card_head Разработка индивидуальной программы для компании
		
		include ../parts/super_review
		
		section.section__first-lesson
			.container
				h5.first-lesson_head Что тебя ждет на первом занятии
				.row.first-lesson_row
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item.png", alt="")
						h5.card_head Познакомимся с преподавателями
						.card_text 
							p Непринужденное общение в дружелюбной атмосфере
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item2.png", alt="")
						h5.card_head Определим уровень владения языком
						.card_text 
							p С помощью несложного задания установим текущий уровень английского
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item3.png", alt="")
						h5.card_head Обсудим ваши цели в изучении языка
						.card_text 
							p Выберем курс согласно вашим интересам: детский, разговорный, деловой  
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item4.png", alt="")
						h5.card_head Вместе разработаем программу обучения
						.card_text 
							p По результатам тестирования определим индивидуальную программу лично для вас


		include ../parts/call-to-action-or
		
		
						
		section.section__all-courses
			include ../parts/courses_slider
		include ../parts/form
		include ../parts/footer