extends ../_template

block title
	| Разговорный-курс

block content
	.page_type.page_courses
		section.section-head
			include ../parts/header
			.courses_header
				.container
					.banner__img
						img(src='./assets/images/courshead/razg.png', title='English')
					.banner__content
						h1.banner_header Курсы разговорного английского <br> для общения и путешествий
						.banner_subheader 
							h3.eng If you talk to a man in a language he understands, that goes to his head. If you talk to him in his own language, that goes to his heart. 
							h3.ru Если ты говоришь с человеком на языке, который он понимает, ты говоришь с его головой. Если ты говоришь с человеком на его родном языке, ты говоришь с его сердцем. 
							span Nelson Mandela
 
						p.banner_text Запишись на первое бесплатное занятие
						form.head-form
							input.phones(type="text" value="+38 ")
							button(type="submit")
								.fas.fa-chevron-circle-right
		section.section__price
			img.clouds(src="./assets/images/clouds.png", alt="")
			.container
				.price_head 
					p Курс 
						span.green_word разговорного английского 
						| учитывает 
						span.green_word развитие
						| и закрепление коммуникативных 
						span.green_word навыков 
						| для всех базовых разговорных ситуаций. Будь то отель, ресторан, заказ билетов, или любая другая ситуация из общего коммуникативного цикла — пройдя курсы разговорного английского, вы 
						span.green_word легко и ненавязчиво инициируете
						| и 
						span.green_word поддержите беседу 
						| с носителями языка. 


					//p Развитие и закрепление коммуникативных навыков
					//p на английском языке для ведения  
						span.green_word бизнеса, 
					//p 
						span.green_word переговоров, деловой документации.

					
				.line__buttons 
					button.calc_button.mis.active_calc Месяц
					button.calc_button.cours Курс
				.row.card__line.justify-content-center
					.col-md-4.price_card.top_card
						img.card_logo(src="./assets/images/card-logo1.png", alt="")
						h3.card_head Индивидуально
						.card_text.card_text1 
							p 12 часов, 
							p 2 занятия в неделю
							p по 90 мин.
							p.card_old-price 3450
								span грн
							p.card_new-price 3280
								span грн
						.card_text2
							p 5 месяцев по 12 часов,
							p 2 занятия в неделю
							p по 90 мин.
							p.card_old-price 17250
								span грн
							p.card_new-price 14660
								span грн
						button.open_popup.button_green Заказать
					.col-md-4.price_card
						img.card_logo(src="./assets/images/card-logo2.png", alt="")
						h3.card_head В паре
						.card_text.card_text1 
							p 12 часов, 
							p 2 занятия в неделю
							p по 90 мин.
							p.card_old-price 3000
								span грн
							p.card_new-price 2850
								span грн
						.card_text2
							p 5 месяцев по 12 часов,
							p 2 занятия в неделю
							p по 90 мин. 
							p.card_old-price 15000
								span грн
							p.card_new-price 12750
								span грн
						button.open_popup.button_green Заказать
					.col-md-4.price_card
						img.card_logo(src="./assets/images/card-logo3.png", alt="")
						h3.card_head В группе
						.card_text.card_text1 
							p 12 часов, 
							p 2 занятия в неделю
							p по 90 мин.
							p.card_old-price 2500
								span грн
							p.card_new-price 2375
								span грн
						.card_text2
							p 5 месяцев по 12 часов,
							p 2 занятия в неделю
							p по 90 мин. 
							p.card_old-price 12500
								span грн
							p.card_new-price 10625
								span грн
						button.open_popup.button_green Заказать
		section.section__advantages-course
			.container 
				h5.advantages_head Преимущества
				.row.advantages_row
					.col-md-4.col-sm-12.advantages_card
						.image_container
							img.card_logo(src="./assets/images/advant1.png", alt="")
						h5.card_head 80% разговорной практики 
					.col-md-4.col-sm-12.advantages_card
						.image_container
							img.card_logo(src="./assets/images/advant2.png", alt="")
						h5.card_head Преодоление языкового барьера 
					.col-md-4.col-sm-12.advantages_card
						.image_container
							img.card_logo(src="./assets/images/advant3.png", alt="")
						h5.card_head Грамотная и беглая речь 

		include ../parts/super_review
		
		section.section__first-lesson
			.container
				h5.first-lesson_head Что тебя ждет на первом занятии
				.row.first-lesson_row
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item.png", alt="")
						h5.card_head Познакомимся с преподавателями
						.card_text 
							p Непринужденное общение в дружелюбной атмосфере
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item2.png", alt="")
						h5.card_head Определим уровень владения языком
						.card_text 
							p С помощью несложного задания установим текущий уровень английского
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item3.png", alt="")
						h5.card_head Обсудим ваши цели в изучении языка
						.card_text 
							p Выберем курс согласно вашим интересам: детский, разговорный, деловой  
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item4.png", alt="")
						h5.card_head Вместе разработаем программу обучения
						.card_text 
							p По результатам тестирования определим индивидуальную программу лично для вас
		
		include ../parts/call-to-action-or
		
		
		section.section__all-courses
			include ../parts/courses_slider
		include ../parts/form
		include ../parts/footer