extends ../_template

block title
	| test

block content
	.page_type.page_test
		section.section-head
			include ../parts/header 
			.container
				h5.test_text Выберите ваш уровень английского:
				.test_wrapp
					center.result_wrapp
						#progressbar
						p#time Затрачено времени: 0 сек
						p#result
						p#question
						.answers
							button#option1.button_purple(onclick='check(1)')
							button#option2.button_purple(onclick='check(2)')
							button#option3.button_purple(onclick='check(3)')
							button#option4.button_purple(onclick='check(4)')
					br
				
					center
						#but_line
							button#start1.button_green(onclick='start(0)') начальный или ниже среднего
							button#start2.button_green(onclick='start(1)') средний
							button#start3.button_green(onclick='start(2)') выше среднего
						script(type='text/javascript').
							document.write("<button id='testend' style='display: none;' class='button_purple open_popup'>Записаться</button>");
				
					br
					br
					center.bottom_button(style='clear:both;')
						br
						script(type='text/javascript').
							var curent_url = document.URL; 
							document.write("<a id='end' style='display: none;' class='button_yellow' href='" + curent_url + "'>Выбрать другой уровень</a>");
						a.button_yellow(href='./index.html') Вернуться на главную
		include ../parts/form
	include ../parts/footer
			

