extends ../_template

block title
	| Детский курс

block content
	.page_type.page_courses
		section.section-head
			include ../parts/header
			.courses_header
				.container
					.banner__img
						img(src='./assets/images/courshead/det.png', title='English')
					.banner__content
						h1.banner_header Курсы английского для детей
						.banner_subheader 
							h3.eng Tell me and I forget. Teach me and I remember. Involve me and I learn. 
							h3.ru Скажи мне и я забуду. Учи меня и я попробую запомнить. Вовлеки меня и я научусь.
							span Benjamin Franklin
 
						p.banner_text Запишись на первое бесплатное занятие
						form.head-form
							input.phones(type="text" value="+38 ")
							button(type="submit")
								.fas.fa-chevron-circle-right
		section.section__price
			img.clouds(src="./assets/images/clouds.png", alt="")
			.container
				.price_head 
					p Английский 
						span.green_word язык для детей 
						| и подростков — это прежде всего коммуникативная методика, построенная на игровой 
						span.green_word интерактивной форме. 
						| Таким образом дети вовлекаются в процесс освоения иностранного языка, не воспринимая это как повинность или травматичный элемент воспитания. В итоге закладывается 
						span.green_word мощный фундамент 
						| для успешного изучения иностранных языков в 
						span.green_word школе и ВУЗе.
					//p Английский язык  
						span.green_word для детей и подростков.
					//p Коммуникативная методика обучения в игровой интерактивной форме

				.line__buttons 
					button.calc_button.active_calc Месяц
					button.calc_button.cours Курс
					.ages
						p.calc_button2.active_calc2 5-13 лет
						.switch
							input#switch-1.switch-check(type='checkbox') 
							label.switch-label(for='switch-1')
								| Опция
								span.switch-slider.switch-slider-on
								span.switch-slider.switch-slider-off
						p.calc_button2.cours 14-17 лет
				
				.row.card__line.justify-content-center
					.col-md-4.price_card.top_card
						img.card_logo(src="./assets/images/card-logo1.png", alt="")
						h3.card_head Индивидуально
						.card_text.card_text1
							p 8 часов 
							p 2 занятия в неделю
							p по 60 мин.
							p.card_old-price 2050
								span грн
							p.card_new-price 1950
								span грн
						.card_text2
							p 8 месяцев по 8 часов 
							p 2 занятия в неделю
							p по 60 мин.
							p.card_old-price 16400
								span грн
							p.card_new-price 13940
								span грн
						.card_text3
							p 12 часов 
							p 2 занятия в неделю
							p по 60 мин.
							p.card_old-price 3300
								span грн
							p.card_new-price 3150
								span грн
						.card_text4
							p 8 месяцев по 12 часов 
							p 2 занятия в неделю
							p по 60 мин.
							p.card_old-price 26400
								span грн
							p.card_new-price 22440
								span грн
						button.open_popup.button_green Заказать
					.col-md-4.price_card
						img.card_logo(src="./assets/images/card-logo2.png", alt="")
						h3.card_head В паре
						.card_text.card_text1 
							p 8 часов
							p 2 занятия в неделю
							p по 60 мин.
							p.card_old-price 1350
								span грн
							p.card_new-price 1280
								span грн
						.card_text2
							p 8 месяцев по 8 часов 
							p 2 занятия в неделю
							p по 60 мин.
							p.card_old-price 10800
								span грн
							p.card_new-price 9180
								span грн
						.card_text3
							p 12 часов 
							p 2 занятия в неделю 
							p по 90 мин.
							p.card_old-price 2600
								span грн
							p.card_new-price 2470
								span грн
						.card_text4
							p 8 месяцев по 12 часов
							p 2 занятия в неделю 
							p по 90 мин.
							p.card_old-price 20800
								span грн
							p.card_new-price 17680
								span грн
						button.open_popup.button_green Заказать
					.col-md-4.price_card
						img.card_logo(src="./assets/images/card-logo3.png", alt="")
						h3.card_head В группе
						.card_text.card_text1 
							p 8 часов 
							p 2 занятия в неделю
							p по 60 мин.
							p.card_old-price 1000
								span грн
							p.card_new-price 950
								span грн
						.card_text2
							p 8 месяцев по 8 часов 
							p 2 занятия в неделю
							p по 60 мин.
							p.card_old-price 8000
								span грн
							p.card_new-price 6800
								span грн
						.card_text3 
							p 12 часов 
							p 2 занятия в неделю
							p по 60 мин.
							p.card_old-price 2000
								span грн
							p.card_new-price 1900
								span грн
						.card_text4
							p 8 месяцев по 12 часов
							p 2 занятия в неделю
							p по 60 мин.
							p.card_old-price 16000
								span грн
							p.card_new-price 13600
								span грн
						button.open_popup.button_green Заказать
					
		section.section__advantages-course
			.container 
				h5.advantages_head Преимущества
				.row.advantages_row
					.col-md-4.col-sm-12.advantages_card
						.image_container
							img.card_logo(src="./assets/images/advant1.png", alt="")
						h5.card_head Интуитивное восприятие и обучение
					.col-md-4.col-sm-12.advantages_card
						.image_container
							img.card_logo(src="./assets/images/advant2.png", alt="")
						h5.card_head Живое общение на английском со сверстниками
					.col-md-4.col-sm-12.advantages_card
						.image_container
							img.card_logo(src="./assets/images/advant3.png", alt="")
						h5.card_head Упор на разговорный английский и чтение 

		include ../parts/super_review
		
		section.section__first-lesson
			.container
				h5.first-lesson_head Что тебя ждет на первом занятии
				.row.first-lesson_row
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item.png", alt="")
						h5.card_head Познакомимся с преподавателями
						.card_text 
							p Непринужденное общение в дружелюбной атмосфере
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item2.png", alt="")
						h5.card_head Определим уровень владения языком
						.card_text 
							p С помощью несложного задания установим текущий уровень английского
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item3.png", alt="")
						h5.card_head Обсудим ваши цели в изучении языка
						.card_text 
							p Выберем курс согласно вашим интересам: детский, разговорный, деловой  
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item4.png", alt="")
						h5.card_head Вместе разработаем программу обучения
						.card_text 
							p По результатам тестирования определим индивидуальную программу лично для вас
		
		
		
		include ../parts/call-to-action-or

		section.section__all-courses
			include ../parts/courses_slider
		include ../parts/form
		include ../parts/footer