extends ../_template

block title
	| Подготовка к ЗНО

block content
	.page_type.page_courses
		section.section-head
			include ../parts/header
			.courses_header
				.container
					.banner__img
						img(src='./assets/images/courshead/zno.png', title='English')
					.banner__content
						h1.banner_header Подготовительный курс к сдаче экзаменов
						.banner_subheader 
							h3.eng Learning is a treasure that will follow its owner everywhere. 
							h3.ru Знание - сокровище, которое повсюду следует за тем, кто им обладает.
							span Chinese Proverb
 
						p.banner_text Запишись на первое бесплатное занятие
						form.head-form
							input.phones(type="text" value="+38 ")
							button(type="submit")
								.fas.fa-chevron-circle-right
		section.section__price
			img.clouds(src="./assets/images/clouds.png", alt="")
			.container
				.price_head 
					p 
						span.green_word Оперативная 
						| и целенаправленная 
						span.green_word подготовка 
						| ко внешнему независимому оцениванию по английскому языку способствует закреплению специального навыка сдачи тестов. Посредством доведения его до автоматизма, снимаются стрессовые блоки, прививается 
						span.green_word спокойствие и уверенность 
						| в процессе тестирования, так как курс построен на материалах максимально аналогичных 
						span.green_word ЗНО.

						//span.green_word Оперативная подготовка 
						//| ко
				//	p внешнему независимому оцениванию по английскому языку

				.line__buttons 
					button.calc_button.mis.active_calc Месяц
					button.calc_button.cours Курс
				.row.card__line.justify-content-center
					.col-md-4.price_card.top_card
						img.card_logo(src="./assets/images/card-logo1.png", alt="")
						h3.card_head Индивидуально
						.card_text.card_text1 
							p 12 часов
							p 2 занятия в неделю 
							p по 90 минут
							p.card_old-price 3300
								span грн
							p.card_new-price 3150
								span грн
						.card_text2
							p 3 месяца по 12 часов
							p 2 раза в неделю
							p по 90 минут
							p.card_old-price 9900
								span грн
							p.card_new-price 8415
								span грн
						button.open_popup.button_green Заказать
					.col-md-4.price_card
						img.card_logo(src="./assets/images/card-logo2.png", alt="")
						h3.card_head В паре
						.card_text.card_text1 
							p 12 часов
							p 2 занятия в неделю 
							p по 90 минут
							p.card_old-price 2850
								span грн
							p.card_new-price 2700
								span грн
						.card_text2
							p 3 месяца по 12 часов
							p 2 раза в неделю
							p по 90 минут
							p.card_old-price 8550
								span грн
							p.card_new-price 7260
								span грн
						button.open_popup.button_green Заказать
					.col-md-4.price_card
						img.card_logo(src="./assets/images/card-logo3.png", alt="")
						h3.card_head В группе
						.card_text.card_text1 
							p 12 часов
							p 2 занятия в неделю 
							p по 90 минут
							p.card_old-price 2350
								span грн
							p.card_new-price 2230
								span грн
						.card_text2
							p 3 месяца по 12 часов
							p 2 раза в неделю
							p по 90 минут
							p.card_old-price 7050
								span грн
							p.card_new-price 5990
								span грн
						button.open_popup.button_green Заказать

		section.section__advantages-course
			.container 
				h5.advantages_head Преимущества
				.row.advantages_row
					.col-md-4.col-sm-12.advantages_card
						.image_container
							img.card_logo(src="./assets/images/advant1.png", alt="")
						h5.card_head Подготовка к конкретному экзамену
					.col-md-4.col-sm-12.advantages_card
						.image_container
							img.card_logo(src="./assets/images/advant2.png", alt="")
						h5.card_head Актуальные программы подготовки
					.col-md-4.col-sm-12.advantages_card
						.image_container
							img.card_logo(src="./assets/images/advant3.png", alt="")
						h5.card_head Пробное тестирование, работа над ошибками			
		
		include ../parts/super_review
		
		section.section__first-lesson
			.container
				h5.first-lesson_head Что тебя ждет на первом занятии
				.row.first-lesson_row
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item.png", alt="")
						h5.card_head Познакомимся с преподавателями
						.card_text 
							p Непринужденное общение в дружелюбной атмосфере
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item2.png", alt="")
						h5.card_head Определим уровень владения языком
						.card_text 
							p С помощью несложного задания установим текущий уровень английского
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item3.png", alt="")
						h5.card_head Обсудим ваши цели в изучении языка
						.card_text 
							p Выберем курс согласно вашим интересам: детский, разговорный, деловой  
					.col-md-3.col-sm-6.first-lesson_card
						img.card_logo(src="./assets/images/less_item4.png", alt="")
						h5.card_head Вместе разработаем программу обучения
						.card_text 
							p По результатам тестирования определим индивидуальную программу лично для вас
		
		include ../parts/call-to-action-or
		
		
		section.section__all-courses
			include ../parts/courses_slider
		include ../parts/form
		include ../parts/footer