extends ../_template

block title
	| Спасибо

block content
	.page_type.page_thanks
		section.section-head
			include ../parts/header
			.container
				.thanks-text
					img(src="./assets/images/fly.png", alt="")
					h2.text Спасибо за заявку!
					h2.sub_text Мы свяжемся с вами <br> в ближайшее время
					a.button_green 
						.fas.fa-angle-left
						| Назад
		include ../parts/footer